body {
  font-family: $font-family-sans-serif;
  font-size: 16px;
}

p {
  margin-top:0;
  margin-bottom:15px;
  line-height:1.55em;

  &.lead-paragraph {
    font-size: 1.125em;
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-top:0;
  line-height:1.1em;
  margin-bottom:15px;
  font-weight:normal;

  .internal & {
    //color: $burnt-sienna;
  }
}

a {
  color: #000;
  @include transition(0.2s ease-in-out all);
  text-decoration:none;

  .internal & {
    color:$burnt-sienna;
    border-bottom:1px solid rgba($burnt-sienna, 0.5);

    &:hover, &:focus {
      border-bottom:1px solid rgba($pastel-green, 0.75);
      color:$pastel-green;
    }
  }

  &:hover, &:focus {
    color: $burnt-sienna;
    outline:none;
  }
}



h1, .h1 {
  font-size: $font-size-h1;

  .internal & {
  }
}

h2, .h2 {
  font-size: $font-size-h2;
}

h3, .h3 {
  font-size: $font-size-h3;
}

h4, .h4 {
  font-size: $font-size-h4;
}

h5, .h5 {
  font-size: $font-size-h5;
}

h6, .h6 {
  font-size: $font-size-h6;
}

blockquote {
  font-size: $font-size-h3;
  text-align:center;
  position:relative;
  margin: 0;
  padding: 30px 60px 50px;

  &:before {
    content:"";
    display:block;
    background: url('../images/bits-color.svg'), url('../images/bits-color-2.svg');
    background-position: top right, bottom left;
    background-repeat: no-repeat, no-repeat;
    background-size: 13% auto, 14% auto;
    position: absolute;
    top: -20px;
    left:0;
    right:0;
    bottom:0;
    z-index:2;
    right: 5px;
  }

  &:after {
    content:"";
    width: 95%;
    display:block;
    bottom:0;
    background: $alabaster;
    position: absolute;
    top:0;
    left:50%;
    @include transform(translateX(-50%));
    z-index:-1;
    margin-bottom:30px;
  }

  p {
    font-size:1em;

    &:last-child {
      //margin-bottom:0;
    }
  }
}

ol, ul {
  .internal & {
    margin:0;
    margin-bottom:15px;
    //padding:0;
    padding-left: calc(1.5em);
    //list-style-position: inside;

    li {
      position:relative;
      line-height:1.1em;
      margin-bottom:15px;
    }
  }
}

ul {
  .internal & {
    list-style:none;

    li {

      &:before {
        content:"";
        width:1.25em;
        height:1em;
        display: block;
        background: url('../images/bits-o-blue.svg');
        background-size:contain;
        background-position: center center;
        position:absolute;
        background-repeat: no-repeat;
        left:-1.5em;
        top:0;
      }

      &:nth-child(3n+2):before {
        background: url('../images/bits-l-green.svg');
        background-size:contain;
        background-position: center center;
        position:absolute;
        background-repeat: no-repeat;
      }

      &:nth-child(3n+3):before {
        background: url('../images/bits-t-purple.svg');
        background-size:contain;
        background-position: center center;
        position:absolute;
        background-repeat: no-repeat;
      }

      > ul {
        margin-top:15px;
      }
    }
  }
}
