@charset "utf-8";
@import "normalize";
@import "variables";
@import "type";

@import "layout/header";
@import "layout/footer";
@import "layout/about";

@import "components/global";
@import "components/form";
@import "components/animations";
@import "components/events";
@import "components/highlight-menu";
@import "components/deployment";
@import "modaal";


* {
  box-sizing: border-box;
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

::-moz-selection {
  background: $lavendar;
  color: #fff;
}

::selection {
  background: $lavendar;
  color: #fff;
}

.main {
  max-width: 1200px;
  width:85%; /* changed to 85% from 100% to give elements some more breathing room */
  margin: 0 auto;
  position:relative;

  .internal & {
    &:after {
      content:"";
      width: 46.7%;
      display:block;
      left:50%;
      height: 0;
      width:50%;
      padding-bottom:100%;
      background: url('../images/zig-zag.svg'), $alabaster;
      background-position: center calc(100% + 1px);
      background-repeat: repeat-x;
      background-size: auto 20px;
      position: absolute;
      top:1px;
      z-index:-1;

      @media (min-width: $screen-sm-min) {
        left: 12%;
        top: -20px;
        width: 24.7%;
        padding-bottom: 38.8%;
      }
    }
  }

  .column-content {
    @media (min-width: $screen-sm-min) {
      padding-left: 45.3%;
    }

    img {
      max-width: 100%;
      height:auto;
    }
  }


  .home & {
    width:100%;
    max-width:100%;

    &:after {
      content:none;
    }
  }
}

section.events {
  clear:both;
  float:none;
  width:100%;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;

  }

  .upcoming-event {
    position:relative;


    &.localhost-upcoming-event {
      background-image:url('../images/calendar-bg.png');
      background-repeat:repeat-x;
      background-size: 210% 100%;
      background-position: 98% bottom;
      padding-top: 30px;
      padding-bottom: 30px;

      @media (min-width: $screen-sm-min) {
        padding-top: 76px;
        padding-bottom: 74px;
        background-size:calc(66.5% - 30px) 100%;
        background-position:10% bottom;
      }
      @media (min-width: $screen-md-min) {
        background-size:40% 100%;
        background-position:left bottom;
      }



      .location {
        letter-spacing:0.1em;
        text-transform:uppercase;
        font-weight:$font-weight-bold;
        line-height:14px;
        position:relative;

        font-size: em(11);
        color: #1D1D1B;
        letter-spacing: 1.57px;

        @media (min-width: $screen-sm-min) {
          padding: 0 29px;
        }

        span {
          border-bottom: 4px solid $burnt-sienna;
          padding-bottom: 5px;
        }

        &:before {
          content:"";
          width: 10px;
          height: 14px;
          background-size:contain;
          display:inline-block;
          margin-right:11px;
          background: url('../images/pin.svg');
          background-repeat:no-repeat;
          float: left;
        }
      }
    }

    .container-fluid {
      display: flex;
      flex-wrap: wrap;
      flex-direction:column;
      max-width:1410px;
      width:100%;
      margin: 0 auto;
      padding: 0 30px;

      @media (min-width: $screen-sm-min) {
        flex-direction:row;
        width:100%;
        padding:0 30px;
      }

      @media (min-width: $screen-md-min) {
        width:60%;
				padding:0;
      }
    }

    > h2.title {
      font-weight:$font-weight-bold;
      font-size: em(40);
      color: #000000;
      letter-spacing: 5.3px;
      line-height: em(43, 40);
      text-transform:uppercase;
      width:100%;
      padding: 30px 30px 0;

      @media (min-width: $screen-sm-min) {
        max-width: 100%;
        margin: 0 auto 15px;
        padding:0;
        padding:0 30px;
      }

      @media (min-width: $screen-md-min) {
				max-width: 66.5%;
        padding:0;
			}
    }

    .date, .localhost-event {
      @media (min-width: $screen-sm-min) {
        width: 33.33%;
      }
    }

    p.date {

      margin-bottom: 30px;

      @media (min-width: $screen-sm-min) {
        border-bottom:1px solid #000;
        height:195px;
        margin-bottom:0;
        display: flex;
        flex-direction:column;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 10px 20px;
      }

      span {
        display:block;
        position:relative;
        line-height:1em;

        &.title {
          font-size: $font-size-h1;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 0.1em;
        }

        &.month {
          font-weight: bold;
          color: $burnt-sienna;
          letter-spacing:0.05em;
          text-transform:uppercase;
          z-index:2;
          font-size: $font-size-h5;
        }

        &.weekday {
          font-size: $font-size-h3;
          letter-spacing: 0.2em;
          line-height: 2.5em;
          font-weight:bold;
          text-transform:uppercase;
          line-height: 0.5em;
          z-index:2;
        }
      }
    }

    .localhost-event {


      .title {
        font-size: em(24);
        color: #000000;
        letter-spacing: 0.5px;
        margin:0;
        letter-spacing: 0.01em;
        word-spacing: -0.04em;

        @media (min-width: $screen-sm-min) {
          border-bottom:1px solid #000;
          height:195px;
          display: flex;
          align-items: flex-end;
          padding: 10px 40px 10px 31px;
        }

        a {
          line-height: em(32, 24);

          &:after {
            content:"";
            width:14px;
            background: url('../images/')
          }
        }
      }
    }

    .speaker {
      font-size: em(11);
      color: #000000;
      letter-spacing: 1.57px;
      line-height: em(17, 11);
      text-transform: uppercase;

      @media (min-width: $screen-sm-min) {
        padding: 11px 40px 10px 29px;
        margin: 0;
      }

      span {
        display:block;
      }
    }
  }

  .future-events {
		padding: 0 15px;
    padding-top: 30px;
		max-width: 1000px;
		margin: 0 auto;

		@media (min-width: $screen-sm-min) {
  		padding: 0 30px;
	    padding-top: 158px;
      padding-right:65px;
		}

    .view-all {
      margin-top: 4px;

  		@media (min-width: $screen-sm-min) {
        float:right;
      }
    }

    span.weekday {
      font-size: $font-size-h3;
      font-weight: bold;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      margin-left: 0;

      @media (min-width: $screen-sm-min) {
        padding-left: 82px;
      }
    }

    li.date-title {
      margin-bottom: 0;
      padding: 2px 0 34px;

    	@media (min-width: $screen-sm-min) {
        padding-left: 82px;
      }

      .month {
        color: $burnt-sienna;
        text-transform: uppercase;
        margin: 0;
        font-weight: $font-weight-bold;
        font-size: em(18,14);
        letter-spacing: 4px;
        letter-spacing:0.14em;
      }
    }

    .calendar-event-date {
      width: 65px;

  		@media (min-width: $screen-sm-min) {
        width: 85px;
      }
    }

    ul {
    	padding:0;

    	li {
    		list-style:none;

    		&.date-title {
    			.date.month {
    				color:$burnt-sienna;
    				font-weight: $font-weight-bold;
    				font-size: 18px;
    				text-transform:uppercase;
    				letter-spacing: 4px;

    			}
    		}

    		&.upcoming-event {
    			> .title {
    				font-size: 16px;
    				color: #000000;
    				letter-spacing: 1.14px;
    				line-height: 22px;
    				text-decoration:none;
    				display:flex;
    				margin-bottom:13px;

    				&:hover, &:focus {
    					color:$lavendar;

    					.title {
    						border-color:$lavendar;
    					}
    				}

    				.calendar-event-date {
    					width:85px;
    					padding: 6px 0 8px;
              color:#000;
    				}

    				.title {
    					border-bottom: 1px solid #000;
    					width:calc(100% - 65px);
    					padding: 6px 0 8px;
    					display:flex;
    					justify-content:space-between;
              @include transition(0.2s ease-in-out border-color);

          		@media (min-width: $screen-sm-min) {
      					width:calc(100% - 85px);
              }

    					&:after {
    						content:"";
                width:14px;
                height:13px;
    						text-align:right;
                background-image: url('../images/target-blank.svg');
                background-position:right center;
                background-size:100% auto;
                background-repeat:no-repeat;
                align-self: center;
    					}

    					.event-title {
                width:50%;

            		@media (min-width: $screen-sm-min) {
      						width: 43%;
                }
    					}
    				}
    			}

          + li.date-title {
            padding-top:30px;

            @media (min-width: $screen-sm-min) {
              padding-top:74px;
            }
          }
    		}

    		&.featured-event {
    			font-weight:$font-weight-bold;
    		}
    	}
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

section.follow {
  padding: 6.9% 30px 16.4%;
}

.social {
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;

  li {
    display:inline-block;
    margin: 0px 4.1%;

    img {
      height: 100%;
      width: auto;
    }

    .sm-icon {
      display:inline-block;
      height: 39px;
      padding: 0 0 0 13px;
      float:right;
    }

    a {
      display:block;
      text-transform:uppercase;
      font-weight:bold;
      letter-spacing: 0.14em;
      line-height:2.05em; // 41px
      overflow:hidden;

      .label {
        @include transition($link-transition);
        position:relative;
        display:inline-block;

        &:before {
          content: attr(data-hover);
          position: absolute;
          top: 100%;
          left:0;
          right:0;
          color: $burnt-sienna;
          @include transform(translate3d(0,0,0));
        }
      }

      &:hover, &:focus {
        color: #000;

        .label {
          @include transform(translateY(-100%));
        }
      }

      .sm-icon {
        position:relative;

        &:after {
          position:absolute;
          top: 0px;
          right: -7px;
          width: 33px;
          height: 33px;
          border: 2px solid #000;
          border-radius:100%;
        }
      }
    }
  }
}

section.mission {
  text-align:center;
  padding: 30px;
  position:relative;

  @media (min-width: $screen-sm-min) {
    padding: 8.7% 30px 7.13%;
  }

  .mission-bits {
    svg {

      &.mission-top {
        max-width: 125px;
        margin-bottom:30px;
        margin-left: 3.5%;
        width:31.17206982543625%;

        @media (min-width: $screen-sm-min) {
          margin-bottom:68px;
        }
      }

      &.mission-bottom {
        max-width: 401px;
        margin-top:1px;
        width:75%;
        margin-left: 12.5%;
      }

      .bit-line {
        stroke-dasharray: 120;
        stroke-dashoffset: 120;
      }
    }
  }

  .container {
    width:100%;
    max-width: 800px;
    margin: 0 auto;
  }

  p {
    line-height: em(56,56);
    font-size: em(32);
    word-spacing: -0.09em;

    @media (min-width: $screen-sm-min) {
      font-size: em(56);
    }
  }

  .brand-pink, .brand-blue, .brand-green {

    border-bottom: 4px solid #000;
    line-height:1em;
    display:inline-block;
  }

  .brand-pink {
    border-color:$burnt-sienna;
  }

  .brand-blue {
    border-color: $malibu;
  }

  .brand-green {
    border-color: $pastel-green;
  }
}

.blog-section-home {
  display:flex;
  width: 100%;
  max-width: 1306px;
  margin: 0 auto;
  justify-content: space-between;
  flex-direction:column;
  padding: 0 30px 30px;

  @media (min-width: $screen-sm-min) {
    flex-direction:row;
    padding-bottom: 180px;
  }

  .article-list {
    padding-left: 48px;
    flex-grow: 1;
    max-width: 728px;
    margin-bottom:30px;

    @media (min-width: $screen-sm-min) {
      padding-right:30px;
    }

    > h2 {
      font-weight:$font-weight-bold;
      font-size: em(20);
      text-transform:uppercase;
      letter-spacing: em(3.8, 20);
      line-height: em(21, 20);
      margin-left:-48px;
      margin-bottom: em(44,20);

      span {
        display:inline-block;
        position:relative;
        padding-bottom: 9px;

        &:after {
          position:absolute;
          bottom:0;
          left:0;
          width:44%;
          height:4px;
          background: $burnt-sienna;
          content:"";
          display:block;
        }

      }
    }

    article {
      margin-bottom:25px;

      .author-line {
        font-weight: $font-weight-bold;
        font-size: em(14);
        letter-spacing: em(2,14);
        text-transform:uppercase;
        margin:0;
        margin-bottom: 6px;
        color:#000;
      }

      a {
        display:block;
        border-bottom:1px solid #1D1D1B;

        &:hover, &:focus {
          border-color: $burnt-sienna;
        }
      }

      h2 {
        font-size: em(24);
        line-height: em(32,24);
        margin:0;
        padding-bottom:em(15,24);
      }
    }
  }
}

.subscription-form {
  width: 100%;
  padding-left: 18px;
  position:relative;
  padding-bottom:42px;
  margin-bottom:30px;
	margin-right: 12px;
	margin-left:0;

	@media (min-width: $screen-sm-min) {
  	max-width: 387px;
	}

  &:after {
    content:"";
    display:block;
    background:#F7F7F7;
    position:absolute;
    top: 114px;
    left: 0;
    right: 23px;
    bottom: 0;
    z-index:-1;
  }

  h2 {
    font-weight:$font-weight-bold;
    font-size: em(20);
    text-transform:uppercase;
    letter-spacing: em(3.8, 20);
    line-height: em(21, 20);
    margin-left:-18px;
    margin-bottom: em(25,20);

    span {
      display:inline-block;
      padding-bottom: 5px;
      border-bottom:4px solid $pastel-green;
    }
  }

  .tagline {
    font-weight:$font-weight-bold;
    font-size: em(40);
    letter-spacing: em(7.3, 40);
    text-transform:uppercase;
    line-height:1em;
    padding:0;
    margin: 0 0 111px;

    span {
      font-size:em(20,40);
      line-height:1em;
      padding-top:em(21, 20);
      display: block;
    }
  }

  #mc_embed_signup {

  	form {
  		position:relative;
      margin-left: 9px;
  	}

  	.form-control {
  		border:0;
  		border-bottom:2px solid #2B2B2B;
  		width:100%;
  		padding: 10px 0;
  		padding-right:40px;
      @include transition($link-transition);

  		&:focus {
  			outline:none;
  			border-color:$pastel-green;
  		}
  	}

  	.btn-submit {
  		position:absolute;
  		top:0;
  		right:0;
  		width:27px;
  		padding:10px 0;
  		background:transparent;
      cursor:pointer;
  		border:0;
  		margin-right:6px;
      @include transition($link-transition);

  		svg .green-fill {
  			fill: $pastel-green;
  		}

  		&:hover, &:focus {
  			margin-right:0;
        outline:none;

  			svg .green-fill {
  				fill: $malibu;
  			}
  		}
  	}
  }
}

.subscribe {
	padding: 30px 30px;

	.subscription-form {
		margin-left:auto;
		margin-right:auto;
	}
}


.inview {

  &.mission {
    .mission-top .bit-line {
      @include animation(dash 1s linear forwards);

      @for $i from 0 to 2 {
        &:nth-child(#{$i}) {
          @include animation-delay($i * 0.5s);
        }
      }
    }

    .mission-bottom .bit-line {
      @include animation(dash 1s linear forwards);
      @include animation-delay(1s);

      @for $i from 0 to 2 {
        &:nth-child(#{$i}) {
          @include animation-delay(1s + ($i * 0.5s));
        }
      }
    }
  }
}

.your-team {
  margin-top: 15.4%;
  max-width:100% !important;
  position: relative;

  h2 {
    margin-bottom: -0.5em;

    @media (min-width: $screen-sm-min) {
      position: absolute;
      top: 10.4%;
      left: 0;
      margin-bottom: 15px;
    }
  }

  .profiles {
    border:2px solid #000;
    padding: 20px 20px 0 20px;
    margin: 0 30px;

    @media (min-width: $screen-sm-min) {
      margin-right: -1.5%;
      margin-left: 19.9%;
      padding: 48px 20px 0 15%;
      min-height:444px;
    }

    .row {
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media (min-width: $screen-sm-min) {
        flex-direction: row;
      }
    }

    .profile {
      text-align:center;
      padding: 15px;

      @media (min-width: $screen-sm-min) {
        padding: 0 55px 30px;
      }


      .image img {
        width:100%;

        @media (min-width: $screen-sm-min) {
          max-width: 90px;
        }
      }

      .caption {
        padding-top: 10px;

        h3 {
          text-transform:none;
          font-weight: normal;
          margin:0;
        }

        p {
          color: #888;
        }
      }
    }
  }
}

.blog {

  .main {
    > h1 {

      a {
        color: #000;
        border:0;
        border-bottom:5px solid $burnt-sienna;

        span {
          border:0;
        }

        &:hover, &:focus {
          border-color: $pastel-green;
        }
      }
    }

    > h1 {
      z-index:2;

      @media (min-width: $screen-sm-min) {
        position:absolute;
        top: 6.84%;
        left: 8.35%;

      }

      span {
        border-bottom:4px solid $burnt-sienna;
        display:inline-block;
        padding-bottom:13px;
      }
    }
  }
}

.blog-post {
  .main {
    margin-top: 5%;
    position:relative;
    margin-bottom:10%;

    > p.h1 {
      z-index:2;

      a {
        color:#000;
        border:0;

        &:hover, &:focus {
          color: $pastel-green;
        }
      }

      @media (min-width: $screen-sm-min) {
        position:absolute;
        top: 6.84%;
        left: 8.35%;

      }

      span {
        border-bottom:4px solid $burnt-sienna;
        display:inline-block;
        padding-bottom:13px;
      }
    }
  }

  .blog-additional {
    display:flex;
    justify-content: space-between;
    max-width:1252px;
    margin: 5% auto;
    flex-direction: column;
    width:100%;
    padding: 0 30px;
    flex-wrap:wrap;

    @media (min-width:$screen-sm-min) {
      flex-direction: row;
      padding:0;
    }

    > .additional-image, > .additional-video {
      width:100%;
      padding-bottom:30px;

      @media (min-width:$screen-sm-min) {
        width:50%;
        padding: 0 30px;
      }
    }

    .additional-video, .additional-image {
      position:relative;

      .caption {
        font-weight:lighter;
        font-style:italic;
        font-size: $font-size-h2;
        color: #000000;
        line-height: 1.13333333333333em; // 34px
      }

      a {
        position:relative;
      }

      img {
        max-width:100%;
        height:auto;
        width:100%;

        @media(min-width: $screen-sm-min) {
          width:auto;
        }
      }

      .additional-border{
        position:relative;
        margin-bottom:20px;

        &:before {
          content: "";
          top:-10px;
          left:-10px;
          width:calc(100% - 6px);
          display:block;
          position:absolute;
          pointer-events:none;
          height:calc(100% - 6px);
          border:3px solid #000;
          z-index:2;

          @media (min-width: $screen-sm-min) {
            top:-5%;
            left:-5%;
          }
        }
      }
    }

    .additional-image {

      .additional-border:before {
        border-color: $tulip-tree;
      }
    }

    .additional-video {


      .additional-border:before {
        border-color: $pastel-green;
      }

      a {
        border:0;
        display:block;

        &:after {
          content: "";
          position:absolute;
          width:22.16494845360768%;
          padding-bottom:22.16494845360768%;
          background:url('../images/video-play.svg') no-repeat;
          opacity:0.75;
          left:50%;
          top:50%;
          @include transform(translate(-50%, -50%));
          @include transition(0.2s ease-in-out opacity);
        }

        &:hover, &:focus {
          &:after {
            opacity:1;
          }
        }
      }
    }



    > .additional-image-full {
      width:100%;
      margin-bottom:30px;

      .additional-border:before {
        border-color: $malibu;

        @media (min-width:$screen-sm-min) {
          top: -2.5%;
          left: -2.5%;
        }
      }

      img {
        width: 100%;
      }
    }
  }

  article {

    .article-header {
      display:block;
      float:none;
      clear:both;
      margin-bottom: 61px;
      overflow: auto;

      > h1 {
        background: #efefef;
        padding: 12.8% 7% 14% 7%;
        color: #000;
        font-weight:normal;
        letter-spacing:0;
        line-height: 1.20833333333333em; // 58px
        text-transform:none;
        position:relative;
        text-align:center;
        @include fluid-type(37.5rem, 80rem, 1.5rem, 3rem);
        .author {
          font-size: 0.35em;
          letter-spacing:0.2em;
          text-transform:uppercase;
          display:block;
          font-weight:bold;
        }

        @media (min-width: $screen-sm-min) {
          margin: 0 auto;
          margin: 0 11.78%;
          padding: 12.8% 7% 14% 11.6%;
          text-align:left;
        }

        &:after {
          content:"";
          display:block;
          height: 0;
          padding-bottom: 2.16684723727%; // 20px
          width: 100%;
          background-position: center 100%;
          background: url('../images/zig-zag-wide.svg');
          background-repeat: repeat-x;
          background-size: auto 100%;
          position: absolute;
          bottom:-1px;
          left: 0;
          z-index:1;
        }
      }

      .image {
        position:relative;
        display:block;

        @media (min-width:$screen-sm-min) {
          display:block;

          width: 47.9%;
          margin-left: 5.2%;
          margin-top: -3.23%;
          margin-bottom: 35px;
          float: left;
          margin-right: 46px;
        }

        img {
          width:83%;
          margin-top:-10%;
          height:auto;
          position:relative;
          z-index:2;
          margin-left:10%;

          @media (min-width: $screen-sm-min) {
            width:100%;
            margin-top:0;
            margin-left:0;
          }
        }

        &:after {
          position:absolute;
          left: -49px;
          width: 60%;
          bottom: -31px;
          background: $burnt-sienna;
          display:block;
          z-index:-1;

          @media (min-width: $screen-sm-min) {
            top: -31px;
            content:"";
          }
        }

        &:before {
          position:absolute;
          top:0;
          right: 0;
          width: 13%;
          padding-bottom: 11%;
          display:block;
          content:"";
          z-index:3;
          background: url('../images/bits-color.svg');
          background-repeat: no-repeat;

          @media (min-width: $screen-sm-min) {
            top: -31px;
          }
        }
      }
    }

    time {
      color: #000;
      letter-spacing: 0.13857142857143em; // 1.94px
      font-weight:bold;
      display: block;
      padding-top: 50px;
      padding-bottom: 6px;
    }

    .lead-paragraph {
      font-size: $font-size-h2;
      color: #000;
      letter-spacing: 0.12em;
      line-height: 1.5em; // 36px
      word-spacing: -0.09em;
      padding-right: 4%;
    }

    .article-body {

      h2 {
        margin-top: 50px;
        line-height: 1.3em;
        margin-bottom: 15px;
        text-transform: none;
        font-weight: bold;
        @media (min-width: $screen-sm-min) {
          margin-left: -80px;
        }
      }

      @media (min-width:$screen-sm-min) {
        width:100%;
        margin: 3.9% 0 0 0; // 0 0 33.4%
        padding: 0 calc(27.3% / 1.5) 0  calc(33.2% / 1.5);
      }

      @media (min-width:$screen-md-min) {
        padding: 0 27.3% 0 33.2%;
      }

      blockquote {
        margin: 0;
        margin-top: 10%;
        margin-bottom: 9.6%;

        @media (min-width:$screen-sm-min) {
          margin-left: -24.6%;
          margin-right: -24.6%;
        }

        p {
          font-style:italic;
          color: #666;
          font-size: $font-size-h4;
          letter-spacing: 0.13em;
          line-height: 1.47222222222222em; // 53px
          margin-bottom: 0.41666666666667em; // 15px
          border-left: 1px solid #999;
          border-bottom: 1px solid #999;
          padding: 0 0 20px 20px;
        }
      }

      .image {
        margin-top: 20%;
        position: relative;
        margin-bottom: 6%;

        @media (min-width: $screen-sm-min) {
          margin-left: -13%;
          margin-right: -10%;
        }

        img {
          max-width:100%;
        }

        &:before {
          content:"";
          top: -3.8%;
          width: 97.2%;
          left: -3.6%;
          height: 109.3%;
          border:3px solid #000;
          display:block;
          position:absolute;

          @media (min-width: $screen-sm-min) {
            left: -8.4%;
            width: 87.1%;
          }
        }
      }
    }
  }
}

.pagination {
  max-width:1252px;
  padding: 0 30px;
  margin: 0 auto;

  ul {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    padding:0;
    list-style:none;

    li {
      padding: 0 10px;

      &:first-child {
        padding-left:0;
      }

      &:last-child {
        padding-right:0;
      }

      a {
        color: #000;
        letter-spacing: 0.14em;
        font-weight:bold;
        text-transform:uppercase;
        position:relative;
        display: block;
        padding-bottom: 0.66666666666667em ; // 8px
        border-color:#000;
        padding-right:30px;
        max-width: 300px;

        &:hover, &:focus {
          color: $burnt-sienna;
        }

        &:after {
          content:"";
          width:12px;
          height:7px;
          display: inline-block;
          background:url('../images/arrow-green.svg');
          background-repeat:no-repeat;
          background-size:contain;
          background-position:top right;
          position:absolute;
          bottom: 11px;
          right:0;
        }

        &:before {
          content:"";
          width:8px;
          height:8px;
          display: inline-block;
          border: 1px solid #000;
          border-radius:100%;
          background-repeat:no-repeat;
          background-size:contain;
          background-position:top right;
          position:absolute;
          bottom: 10px;
          right:0;
          z-index:1;
        }
      }

      &:before {
        content:none;
      }

      &:first-child{
        text-align:right;

        a {
          padding-right:0;
          padding-left: 30px;

          &:after {
            right:auto;
            left:0;
          }

          &:before {
            content:"";
            width:8px;
            height:8px;
            display: inline-block;
            border: 1px solid #000;
            border-radius:100%;
            background-repeat:no-repeat;
            background-size:contain;
            background-position:top right;
            position:absolute;
            bottom: 10px;
            left:0;
            z-index:1;
          }
        }
      }
    }
  }
}


article.blog-article {
  border-bottom:2px solid #000;
  margin-bottom:5%;

  > a {
    display:flex;
    text-decoration:none;
    border:0;
    flex-direction:column;

    @media (min-width: $screen-sm-min) {
      flex-direction:row;
    }

    &:hover, &:focus {
      border:2px solid #000;
      margin: 2%;

      h2,p {
        color:#000;
        margin-left: 15px;
      }

      .article-date p {
        color:#000;
      }

      .read-more span {
        background: $burnt-sienna;
        color: #000;
        border-right: 0;
      }

      .article-image {
        background: $pastel-green;
      }
    }
  }

  .article-image {
    position:relative;
    background: #fff;
    @include transition($link-transition);

    @media (min-width: $screen-sm-min) {
      width:47.806771263419%;
    }

    img {
      display:block;
      width:100%;
      @include transition($link-transition);
    }
  }

  .article-date {
    font-size: $font-size-date;
    font-weight:bold;
    letter-spacing:0;
    position:absolute;
    bottom:-30px;
    right:0;
    z-index: 2;

    @media (min-width: $screen-sm-min) {
      font-size: $font-size-h1;
      left: 100%;
      top:40%;
      bottom:auto;
      right:auto;
      @include transform(translateX(-50%) translateY(-50%));
    }

    @media (min-width: $screen-md-min) {
      font-size: $font-size-date;
    }

    p {
      margin:0;
      color:$burnt-sienna;
      @include transition($link-transition);
      line-height:1em;
      letter-spacing:0;
    }

  }

  .author-line {
    font-weight:bold;
    color: #000;
    letter-spacing: 2px;
    margin:0;
    @include transition($link-transition);

    span {

      &.article-category {
        text-transform:uppercase;
      }
    }
  }

  .article-caption {
    padding: 30px 0 0 0;

    @media (min-width: $screen-sm-min) {
      padding: 0 0 0 30px;
      align-self: flex-end;
      flex-grow:1;
      width: 52.193228736581%;
    }
  }

  h2 {
    font-weight:normal;
    color: #000;
    margin:0 80px 0 0;
    @include transition($link-transition);
    line-height: 1.22222222222222em; // 44px
    text-transform: none;
  }

  .read-more {
    margin:0;
    text-align:right;
    font-size: $font-size-h6;

    span {
      display:inline-block;
      padding: 10px;
      border: 2px solid #000;
      border-bottom:0;
      @include transition($link-transition);
      text-transform:uppercase;
      font-weight:bold;
      color: #272727;
      letter-spacing: 0;
    }
  }

  &:nth-child(even) > a {
    flex-direction:column;

    @media (min-width: $screen-sm-min) {
      flex-direction:row-reverse;
    }

    .article-date {
      @media (min-width: $screen-sm-min) {
        left: 0;
      }
    }
  }
}

h1 {


}

.title-grey-block {
  background: #efefef;
  padding: 8.6% 7% 5.75% 7%;
  color: #000;
  font-weight:normal;
  letter-spacing:0;
  line-height: 1.20833333333333em; // 58px
  text-transform:none;
  font-size:$font-large-intro;
  position:relative;
  text-align:right;

  .blog .main > & {
    padding: 10%;
    text-align:center;
    margin: 30px -7.5% 30px;

    @include fluid-type(37.5rem, 80rem, 1.75rem, 3rem);

    @media (min-width: $screen-sm-min) {
      margin: 8.9% 6.3% 11.8% 10.3%;
      text-align:right;
    }
  }

  &:after {
    content:"";
    display:block;
    height: 0;
    padding-bottom: 16px; //20px
    width: 100%;
    background-position: center 100%;
    background: url('../images/zig-zag-wide.svg');
    background-repeat: repeat-x;
    background-size: auto 100%;
    position: absolute;
    bottom:-1px;
    left: 0;
    z-index:1;
  }
}

.blog .main {
  > p.h1, > .title {
    top: 1.55%;
    left: 4.6%;
  }

  .blog-article + h2 {
    position:relative;

    &:before {
      position:absolute;
      border-bottom: 4px solid #F27959;
      left: -6.8%;
      top: 15.5%;
      font-weight: bold;
      font-size: 40px;
      text-transform: uppercase;
      letter-spacing: 0.13em;
      padding-bottom:4px;

      @media (min-width: $screen-sm-min) {
        content:"Older";
      }
    }
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
