@charset "utf-8";
@import "normalize";
@import "variables";

body {
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

header {
  padding-top: 21.3%;
  padding-bottom: 10%;

  .logo {
    max-width: 635px;
    width:100%;
    margin: 0 auto;

    img {
      width:100%;
      height:auto;
    }
  }
}

section.events {
  clear:both;
  float:none;
  width:100%;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .upcoming-event, .future-events {

    @media (min-width: $screen-sm-min) {
      width:50%;
      float:left;
    }
  }

  .upcoming-event {
    p.date {

      span {
        display:block;

        &.month {
          font-size:2.5em; // 40px
          text-transform:uppercase;
        }

        &.weekday {
          font-size:1.125em; // 18px
          text-transform:uppercase;
        }

        &.day {
          font-size:9em; // 144px
          color: $burnt-sienna;
        }
      }
    }

    h2.title {
      font-size:1.5em; // 24px
    }

    .speaker {
      text-transform:uppercase;

      span {
        display:block;
      }
    }

    .location {
      font-size:0.6875em; //11px
      text-transform:uppercase;

      &:before {
        content:"";
        width:8px;
        height:12px;
        background-size:contain;
        display:block;
        background: url('../images/pin.svg');
        background-repeat:no-repeat;
      }
    }
  }

  .future-events {

  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.social {
  list-style:none;
  margin:0;
  padding:0;

  li {
    display:inline-block;
    width:41px;

    img {
      width: 100%;
      height:auto;
    }

    a {
      position:relative;
      display:block;

      &:after {
        content:"";
        position:absolute;
        top:3px;
        left:3px;
        width: 35px;
        height: 35px;
        border: 2px solid #000;
        border-radius:100%;
      }
    }
  }
}
