@charset "utf-8";
@import "normalize";
@import "variables";
@import "type";

@import "layout/header";
@import "layout/footer";

@import "components/form";
@import "components/animations";

* {
  box-sizing: border-box;
}

::-moz-selection {
  background: $lavendar;
  color: #fff;
}

::selection {
  background: $lavendar;
  color: #fff;
}

.main {
	.internal & {
		max-width: 1134px;
		width:100%;
		margin: 0 auto;
		padding: 0 30px;
    position:relative;

    &:after {
      content:"";
      width: 46.7%;
      display:block;
      height:385px;
      left: 12%;
      height: 0;
      padding-bottom: 38.8%;
      width: 24.7%;
      background: url('../images/zig-zag.svg'), $alabaster;
      background-position: center calc(100% + 1px);
      background-repeat: repeat-x;
      background-size: auto 20px;
      position: absolute;
      top:1px;
      z-index:-1;

      @media (min-width: $screen-sm-min) {

        top: -20px;
      }
    }

    .column-content {
      @media (min-width: $screen-sm-min) {
        padding-left: 45.3%;
      }
    }
	}
}

section.events {
  clear:both;
  float:none;
  width:100%;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;

    @media (min-width: $screen-sm-min) {
      flex-direction: row;
    }
  }

  .upcoming-event, .future-events {
    padding: 0 30px;


    @media (min-width: $screen-sm-min) {
      width:50%;
      flex-grow:1;
    }
  }

  .upcoming-event {
    position:relative;
    padding-left: 12.5%;
    padding-top: 1.3%;

    &:after {
      content:"";
      width: 46.7%;
      display:block;
      height:385px;
      background: url('../images/zig-zag.svg'), $alabaster;
      background-position: center calc(100% + 1px);
      background-repeat: repeat-x;
      background-size: auto 20px;
      position: absolute;
      top:1px;
      right:0;
      z-index:-1;

      @media (min-width: $screen-sm-min) {
        right:-4px;
        height:0;
        padding-bottom: 72.8%;
      }
    }

    .event-bits {
      width:100%;
      display:block;
      position: absolute;
      left: 0;
      right: 0;
      z-index:2;

      svg {

        .block {
          @include transition(0.2s ease-in-out all);
          @include transform(scale(0,0));
          @include transform-origin(50%);
          @include animation(bounceIn 1.5s linear both);
          @include transform-origin(50% 50%);
        }

        .line {
      		fill: none;
      		stroke: #1D1D1B;
      		stroke-miterlimit: 10;
      		stroke-linecap: round;
      		stroke-linejoin: round;
          stroke-dasharray: 1000;
        	stroke-dashoffset: 1000;
        	@include animation(dash 10s linear forwards);
        }
      }

      span {
        display:block;
        position:absolute;

        svg {
          padding:10px;
        }
      }

      #bit-green {
        right: 58px;
        margin-top: 19px;

        @media (min-width: $screen-sm-min) {
          right: 17px;
        }

        svg {
          width: 37px;
          height: 38px;
        }

        .line {
          @include animation-delay(1.15s);
        }

        .block {
          @include animation-delay(1.35s);
        }
      }

      #bit-purple {
        right:0;
        margin-top: 35px;
        right:0;

        svg {
          width: 41px;
          height: 38px;
        }

        @media (min-width: $screen-sm-min) {
          right: -42px;
        }

        .line {
          @include animation-delay(0.95s);
        }

        .block {
          @include animation-delay(1.05s);
        }
      }

      #bit-blue {
        margin-top: -7px;
        right:37px;

        @media (min-width: $screen-sm-min) {
          right: -4px;
        }

        svg {
          width: 38px;
          height: 38px;
        }

        .line {
          @include animation-delay(0.5s);
        }

        .block {
          @include animation-delay(0.75s);
        }
      }

      @media (min-width: $screen-sm-min) {
        right: -5.5%;
        top: 10px;
        background-size: 28% auto;
      }
    }

    p.date {

      span {
        display:block;
        position:relative;

        &.month {
          font-size:2.5em; // 40px
          letter-spacing:0.14em;
          text-transform:uppercase;
          margin-bottom: 19%;
          z-index:2;

          @media (min-width: $screen-sm-min) {
            padding-left: 20%;
          }
        }

        &.weekday {
          font-size:1.125em; // 18px
          letter-spacing: 0.23em;
					margin-left: 2px;
					font-weight:bold;
          text-transform:uppercase;
          z-index:2;
        }

        &.day {
          font-size:9em; // 144px
					font-weight:bold;
          color: $burnt-sienna;
					margin-top: -10.5%;
			    letter-spacing: -0.01em;
          line-height:1em;
          z-index:1;
        }
      }
    }

    h2.title {
      font-size:1.5em; // 24px
      font-weight:normal;
      margin-top: -22.8%;
			letter-spacing: 0em;
      padding: 0 0 0 32.8%;
      position:relative;
      z-index:3;
      line-height:1.4em;
      margin-bottom: 3%;

      @media (min-width: $screen-sm-min) {
        padding-right:10.1%;
      }

      a {


        &:hover, &:focus {
          color: $pastel-green;
        }
      }

      a, .title-link {
        border-bottom:1px solid #979797;
        display:block;
        padding-right:7%;
        padding-bottom: 6.4%;
        position:relative;

        &:hover, &:focus {
          color: $pastel-green;
        }

      }
    }

    .speaker {
      text-transform:uppercase;
      padding-left: 33.4%;
      //font-size:0.6875em; //11px
      font-size: 0.8em;
      //font-size:13px;
      line-height: 1.3em;
      letter-spacing: 0.127em;
      margin-bottom: 4.5%;

      span {
        display:block;
      }
    }

    .location {
      font-size:0.6875em; //11px
      text-transform:uppercase;
      margin-left:33.4%;
			font-weight:bold;
      line-height:14px;
      color: $burnt-sienna;
      letter-spacing:0.127em;

      &:before {
        content:"";
        width: 10px;
        height: 14px;
        background-size:contain;
        display:inline-block;
        margin-right:11px;
        background: url('../images/pin.svg');
        background-repeat:no-repeat;
        float: left;
      }
    }
  }

  .future-events {
    padding-top: 12.78%;

    ul {
      list-style:none;
      padding:0;

      @media (min-width: $screen-sm-min) {
        margin-left: 12.2%;
        max-width: 367px;
      }

      li {
        text-transform:uppercase;
        font-size: 0.8em;

        .date {
          width: 17%;
          padding:6px 0 6px;
					letter-spacing:0.14em;
        }

        span.title {
          display:block;
          border-bottom:1px solid #979797;
          color: #000000;
          letter-spacing: 1.57px;
          width:83%;
          flex-grow:1;
          text-decoration:none;
          padding:6px 0 6px;
					padding-right: 12px;
          @include transition($link-transition);
        }

        a.title {
    			letter-spacing: 0.13em;
          display:flex;
          position:relative;
          margin-top:22px;

          &:hover, &:focus {
            color: #fff;
            background: #000;

            span.title {
              color: #fff;
              border-color: #000;
            }
          }

          &:after {
            content:"";
            width:12px;
            height:7px;
            display: inline-block;
            background:url('../images/arrow-green.svg');
            background-repeat:no-repeat;
            background-size:contain;
            background-position:top right;
            position:absolute;
            bottom: 11px;
            right:0;
          }

          &:before {
            content:"";
            width:8px;
            height:8px;
            display: inline-block;
            border: 1px solid #000;
            border-radius:100%;
            background-repeat:no-repeat;
            background-size:contain;
            background-position:top right;
            position:absolute;
            bottom: 10px;
            right:0;
            z-index:1;

          }
        }
      }
    }

  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

section.follow {
  padding: 6.9% 30px 16.4%;
}

.social {
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;

  li {
    display:inline-block;
    margin: 0px 4.1%;

    img {
      width: 100%;
      height:auto;
    }

    .sm-icon {
      display:inline-block;
      width: 51px;
      padding: 8px 0 0 16px;
      float:right;
    }

    &.meetup {
      .sm-icon {
        padding: 1px 0 0 11px;
        width: 52px;

        &:after {
          right: -1px;
          top: 1px;
        }
      }
    }

    a {
      display:block;
			text-transform:uppercase;
      font-size:1.25em ;//20px;
      font-weight:bold;
      letter-spacing: 0.18em;
      line-height:2.05em; //41px;

      span {

        position:relative;

        &:after {
          content:"";
          position:absolute;
          top: 0px;
          right: -7px;
          width: 33px;
          height: 33px;
          border: 2px solid #000;
          border-radius:100%;
        }
      }
    }
  }
}

section.mission {
  text-align:center;
  padding: 80px 30px 20px;
  position:relative;

  .bit-line {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }


  @media (min-width: $screen-sm-min) {
    padding: 8.7% 30px 7.13%;
  }

  .bits-draw {
    width:77px;
    height:76px;
    position:absolute;
    top:0;
    right:43.78%;
  }

  .bit-draw {
    width:38px;
    height:34px;
    display:block;
    position:absolute;
    bottom:0;
    right:39%;
  }

  .container {
    width:100%;
    max-width:1000px;
    margin: 0 auto;
  }

  p {
    line-height:1em;
    font-size:1.75em;

    @media (min-width: $screen-sm-min) {
      font-size:3.5em; // 56px
    }
  }

  .brand-pink {
    color: $burnt-sienna;
  }

  .brand-blue {
    color: $malibu;
  }

  .brand-green {
    color: $pastel-green;
  }
}

section.subscribe {
  padding: 20.74% 30px 12.4%;

  .container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }

  h2 {
    text-transform:uppercase;
    font-weight:bold;
    letter-spacing: 0.18525em;
    text-align:center;
    font-size:1.5em; // 40px
    line-height:1em;

    @media (min-width: $screen-sm-min) {
      font-size:2.5em; // 40px
    }

    span {
      font-size:0.5em;
      margin-top:1.01em;
      letter-spacing:0.3705em;
      display:block;
      line-height:1em;
    }
  }
}

.inview {

  &.mission {
    .bits-draw .bit-line {
    	@include animation(dash 10s linear forwards);

      @for $i from 1 to 2 {
  		  &:nth-child(#{$i}) {
  				@include animation-delay($i * 1s);
    		}
      }
    }

    .bit-draw .bit-line {
      @include animation(dash 10s linear forwards);
      @include animation-delay(2s);
    }
  }
}

.your-team {
  margin-top: 15.4%;
  position: relative;

  h2 {
    letter-spacing: 0.175em;

    @media (min-width: $screen-sm-min) {
      position: absolute;
      top: 10.4%;
      left: 0;
    }
  }

  .profiles {
    border:2px solid #000;

    @media (min-width: $screen-sm-min) {
      margin-right: -1.5%;
      margin-left: 19.9%;
      padding-left:14%;
      min-height:444px;
    }

    .row {
      display:flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .profile {
      text-align:center;
      padding: 15px;

      @media (min-width: $screen-sm-min) {
        padding: 60px;
      }

      .caption {
        h3 {
          text-transform:none;
          font-weight: normal;
          margin:0;
        }

        p {
          color: #888;
        }
      }
    }
  }
}
