<footer>
    <div class="footer-container locations">
    </div>
    <div class="footer-container details">
      <div class="footer-left">
        <p>Our major<br/>
          partners</p>
      </div>
      <div class="footer-logos">
        <ul>
          <li>
            <img src="/images/logos/logo-awia.png" alt="AWIA Logo" />
          </li>
      </div>
      <div class="footer-left">
        <p>Our community<br/>
          supporters</p>
      </div>
      <div class="footer-logos">
        <ul>
          <li>
            <img src="/images/logos/young-henrys-logo.png" alt="Young Henry's Logo" />
          </li>
      </div>
    </div>
    <div class="footer-links">
      <ul>
        <li><a href="/" title="Go to Homepage">Home</a></li>
        <li><a href="/about/" title="About Localhost">About</a></li>
        <li><a href="/events/" title="Events Calendar">Events</a></li>
        <li><a href="/blog/" title="Localhost Blog">Blog</a></li>
        <li><a href="/code-of-conduct/" title="Code of conduct">Code of conduct</a></li>
        <li><a href="/call-for-speakers/" title="Register your interest as a speaker">Submit a talk</a></li>
      </ul>
    </div>
  </footer>
