<footer>
  <div class="footer-container locations">
  </div>
  <div class="footer-container details">
    <div class="footer-left">
      <p>Made  <br/>
        possible by</p>
    </div>
    <div class="footer-logos">
      <ul>
        <li>
          <img src="/images/logos/logo-awia-bnw.png" alt="AWIA Logo" />
        </li>
    </div>
    <div class="footer-links">

    </div>
  </div>
</footer>
