      <ul>
        <li><a href="/about/" title="About Localhost">About</a></li>
        <li><a href="/code-of-conduct/" title="Code of conduct">Code of conduct</a></li>
        <li><a href="/call-for-speakers/" title="Register your interest as a speaker">Call for speakers</a></li>
        <li><a href="/volunteers/" title="Register your interest as a volunteers">Volunteers</a></li>
        <li><a href="/sponsors/" title="Sponsors">Sponsors</a></li>
        <li><a href="/contact/" title="Contact Localhost">Contact</a></li>
      </ul>
