<footer>
    <!-- <div class="footer-container details">
      <div class="container-fluid">
        <div class="footer-left">
          <p>Our major<br/>
            partners</p>
        </div>
        <div class="footer-logos">
          <ul>
            <li>
              <img src="/images/logos/logo-awia-bnw-2.png" alt="AWIA Logo" />
            </li>
        </div>
        <div class="footer-left">
          <p>Our community<br/>
            supporters</p>
        </div>
        <div class="footer-logos">
          <ul>
            <li>
              <img src="/images/logos/young-henrys-logo.png" alt="Young Henry's Logo" />
            </li>
            <li>
              <img src="/images/logos/logo-sketch.png" alt="Sketch Logo" />
            </li>
        </div>
      </div>
    </div> -->

  	<div class="footer-details">
  		<div class="container-fluid">
  			<div class="partners">
  				<p class="title">
  					Our Major<br/> Partners
  				</p>
  				<div class="logos">
  					<ul>
  						<li><img src="/images/logos/logo-awia-bnw-2.png" alt="AWIA Logo" /></li>
  					</ul>
  				</div>
  			</div>
  			<div class="sponsors">
  				<p class="title">
  					Our Community<br /> Sponsors
  				</p>
  				<div class="logos">
  					<ul>
  						<li><img src="/images/logos/young-henrys-logo.png" alt="Young Henry's Logo" /></li>
  						<li><img src="/images/logos/logo-sketch.png" alt="Sketch Logo" /></li>
  					</ul>
  				</div>
  			</div>
  		</div>
  	</div>
    <div class="footer-links">
      <ul>
        <li><a href="/" title="Go to Homepage">Home</a></li>
        <li><a href="/about/" title="About Localhost">About</a></li>
        <li><a href="/events/" title="Events Calendar">Events</a></li>
        <li><a href="/blog/" title="Localhost Blog">Blog</a></li>
        <li><a href="/code-of-conduct/" title="Code of conduct">Code of conduct</a></li>
        <li><a href="/call-for-speakers/" title="Register your interest as a speaker">Submit a talk</a></li>
      </ul>

      <%= partial "partials/social-links" %>
    </div>
  </footer>
