  <footer>
    <div class="footer-container locations">
    </div>
    <div class="footer-container details">
      <div class="footer-left">
        <p>Made  <br/>
          possible by</p>
      </div>
      <div class="footer-logos">
        <ul>
          <li>
            <img src="/images/logos/logo-awia.png" alt="AWIA Logo" />
          </li>
      </div>
      <div class="footer-links">
        <ul>
          <li><a href="/about/" title="About Localhost">About</a></li>
          <li><a href="#" title="Code of conduct">Code of conduct</a></li>
          <li><a href="#" title="Register your interest as a speaker">Call for speakers</a></li>
          <li><a href="#" title="Register your interest as a volunteers">Volunteers</a></li>
          <li><a href="#" title="Sponsors">Sponsors</a></li>
          <li><a href="#" title="Contact Localhost">Contact</a></li>
        </ul>
      </div>
    </div>
  </footer>