<header>
  <div class="logo">
    <% link_to '/' do %>
      <%= partial "partials/logo-2" %>
    <% end %>
  </div>
  <div class="follow">
    <%= partial "partials/social-links" %>
  </div>

</header>
