<ul class="social">
  <li>
    <% link_to 'https://twitter.com/localhostau' do %>
      Twitter <span class="sm-icon"><%= image_tag 'social/logo-twitter.svg', alt: "Twitter" %></span>
    <% end %>
  </li>
  <li class="meetup">
    <% link_to 'https://www.meetup.com/web-industry-meetup/' do %>
      Meetup <span class="sm-icon meetup"><%= image_tag 'social/logo-meetup.jpg', alt: "Meetup" %></span>
    <% end %>
  </li>
</ul>
