<ul class="social">
  <li>
    <% link_to 'https://twitter.com/localhostau' do %>
      <span class="label">Twitter</span> <span class="sm-icon"><%= image_tag 'social/logo-twitter.svg', alt: "Twitter" %></span>
    <% end %>
  </li>
  <li class="meetup">
    <% link_to 'https://www.meetup.com/web-industry-meetup/' do %>
      <span class="label">Meetup</span> <span class="sm-icon meetup"><%= image_tag 'social/logo-meetup.svg', alt: "Meetup" %></span>
    <% end %>
  </li>
</ul>
