<ul class="social-links">
  <li>
    <a href="https://twitter.com/localhostau" target="_blank" class="social-twitter" title="Follow Localhost on Twitter">
    <span data-hover="Twitter">Twitter</span>
  </a>
  </li>
  <li>
    <a href="https://www.meetup.com/web-industry-meetup/" class="social-meetup" target="_blank" title="Follow Localhost on Meetup">
      <span data-hover="Meetup">Meetup</span>
    </a>
  </li>
  <li>
    <a href="https://www.youtube.com/channel/UCXzGRpaB_MUVQAXZN894avg" class="social-youtube" target="_blank" title="Follow Localhost on YouTube">
      <span data-hover="YouTube">YouTube</span>
    </a>
  </li>
</ul>
