<div class="your-team">
  <h2 class="h1">Your team</h2>
  <div class="profiles">
    <div class="row">
      <div class="profile patima">
        <div class="image">
          <%= image_tag("/images/profiles/pats.png", :alt => "Patima Tantiprasut") %>
        </div>
        <div class="caption">
          <h3>Patima Tantiprasut</h3>
          <p>@the_patima</p>
        </div>
      </div>
      <div class="profile corey">
        <div class="image">
          <%= image_tag("/images/profiles/corey.png", :alt => "Corey Ginnivan") %>
        </div>
        <div class="caption">
          <h3>Corey Ginnivan</h3>
          <p>@CoreyGinnivan</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="profile dt">
        <div class="image">
          <%= image_tag("/images/profiles/dt.png", :alt => "David Thomas") %>
        </div>
        <div class="caption">
          <h3>David Thomas</h3>
          <p>@thedavidthomas1</p>
        </div>
      </div>
      <div class="profile teegan">
        <div class="image">
          <%= image_tag("/images/profiles/teegs.png", :alt => "Teegan Lincoln") %>
        </div>
        <div class="caption">
          <h3>Teegan Lincoln</h3>
          <p>@teeganlincoln</p>
        </div>
      </div>
    </div>
  </div>
</div>
