.projects_deployment,
.projects_deployment_info {

  header {
    margin-top: 100px;
    margin-bottom: 150px;

    @media (min-width: $screen-sm-min) {
      margin-top: 200px;
      margin-bottom: 250px;
    }

    @media (min-width: $screen-md-min) {
      margin-top: 270px;
      margin-bottom: 416px;
    }
  }

  &.internal .main {
    max-width: 1360px;
    width:100%;

    &:after {
      top: -23px;
      left:0;
      width: 50%;
      padding-bottom: 50%;

      @media (min-width: $screen-sm-min) {
        left: 17.8%;
        width: 28.3%;
        top: 0.6%;
        padding-bottom: 27%;
      }
    }
  }

  .deployment-logo {
    display: block;
    text-align: center;
    margin-bottom: 200px;
    max-width:562px;
    font-size: em(22);


    @media (min-width: $screen-sm-min) {
      font-size: em(38);
    }

    svg {
      padding: 20px 22px 6px;
    }
  }

  .title {
    position:relative;
    padding-bottom: 21px;
    margin-bottom:0;
    margin-bottom: 2px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    max-width: 1070px;
    margin: 0 auto;

    &:after {
      max-width: 65px;
      // padding-left: 12.9%;
    }

    &:before {
      top:0;

      @media (min-width: $screen-sm-min) {
        top:100%;
      }
    }
  }

  .page-title {
    max-width: 1070px;
    padding-bottom:30px;

    @media (min-width: $screen-sm-min) {
      padding-bottom:0;
    }

    @media (min-width: $screen-md-min) {
      margin-bottom: 1.75%;
    }

    &:after,
    &:before {
      @media (min-width: $screen-sm-min) {
        left: calc(12% - 30px);
        width: 36%;
      }
    }

    .subtitle {
      margin:0;
      margin-top:2px;
      letter-spacing: 0;
      padding-left:25%;

      @media (min-width: $screen-sm-min) {
        padding-left: 52%;
        word-spacing: -5px;
      }

      > small {
        display: block;
        margin-top: em(66, 36);
        font-size: em(36, 48);
      }

    }

    h1 {
      margin:0;

      > span:after {
        width: 18%;
        background:$lavendar;
      }

      &:before {
        top:auto;
        bottom: -35px;
        left: 15px;

        @media (min-width: $screen-sm-min) {
          top: 27%;
          bottom:auto;
          left: calc(((12% - 30px) + 38%) - 77px);
        }
      }
    }
  }

  h2 {
    padding-bottom: em(13, 40);
    font-size: em(40);
  }

  .paragraph-image {
    max-width: 690px;
    padding: 0 30px;

    @media (min-width: $screen-sm-min) {
      padding:0;
    }

    .ticket-cta {
      position:relative;

      a {
        position:absolute;
        top: 33.22%;
        left:50%;
        padding: 15px 12px;
        font-size: em(17);
        @include transform(translateX(-50%));

        &:hover,
        &:focus {
          border-color: $pastel-green;
        }
      }
    }
  }



  .btn {
    padding: 15px 22px;
    font-size: em(18);
    margin-bottom: 1.08333em;
    letter-spacing: 0.2em;

    &.btn-BNE {

      &:hover,
      &:focus {
        background: $tulip-tree;
        border-color: $tulip-tree;
      }
    }

    &.btn-PER {

      &:hover,
      &:focus {
        background: $pastel-green;
        border-color: $pastel-green;
      }
    }

    &.btn-MEL {

      &:hover,
      &:focus {
        background: $burnt-sienna;
        border-color: $burnt-sienna;
      }
    }

    &.btn-SYD {

      &:hover,
      &:focus {
        background: $malibu;
        border-color: $malibu;
      }
    }
  }

  .deployment-line-up {
    padding: 0 24px;

    @media (min-width: $screen-sm-min) {
      max-width: 1346px;
      margin: 0 auto;
    }

    .row {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 0 -24px;

      @media (min-width: $screen-sm-min) {
        flex-direction: row;
      }
    }

    .deployment-speaker {
      padding: 24px;
      flex-direction: column;
      flex: 1 0 50%;

      @media (min-width: $screen-sm-min) {
        padding: 0 24px 0;
      }

      @media (min-width: $screen-lg-min) {
        flex: 1 0 25%;
        flex-direction: row;
      }
    }

    img {
      width: 100%;
    }
  }

  .deployment-ticket-group {
    padding-top: 0;
    //padding-bottom:60px;
    max-width: 1360px;
    margin: 0 auto;

    @media (min-width: $screen-sm-min) {
      flex-direction: row;
      display: flex;
      flex-wrap: wrap;
      justify-content:space-around;
      padding-top: 16%;
      padding-bottom: 8%;
    }

    @media (min-width: $screen-lg-min) {
      // padding-top: 232px;
      // padding-bottom: 168px;
      padding-top: 190px;
    }

    .city {
      flex-grow:1;
      // padding-top: 120px;

      @media (min-width: $screen-sm-min) {
        width: 50%;
      }

      @media (min-width: $screen-md-min) {
        width: auto;
      }

      &.city-past {
        opacity: 0.45;
        // -webkit-filter: grayscale(100%);
        // filter: grayscale(100%);
        background:url('../images/deploy-plane.svg');
        background-repeat:repeat-x;
        background-size:100% auto;
        background-position: 164px 0;


        + .city:not(.city-past):not(:last-child) {
          background:url('../images/deploy-plane.svg');
          background-repeat:repeat-x;
          background-size:100% auto;
          background-position: -175px 0;
          background-repeat:no-repeat;
        }

        &:first-child {
          background-repeat:no-repeat;
        }
      }
    }

    .deployment-tickets {
      flex: 1 0 25%;
      padding: 10px;
      text-align:center;
      margin-bottom: 50px;


      @media (max-width: $screen-md-min) {
        flex-direction: column;
        flex: 1 0 50%;
      }

      .deployment-date {
        text-transform:uppercase;
        font-weight: $font-weight-bold;
        letter-spacing: 0.13em;
        line-height: 1.1em;
        font-size: em(32);
        border-bottom: 1px solid #000;
        padding-bottom: 9px;
        padding: 0 9px 9px;
        display: inline-block;
        margin-bottom: 5px;
      }

      .deployment-day {
        text-transform:uppercase;
        font-weight: $font-weight-bold;
        letter-spacing: 0.13em;
        line-height: 1.1em;
        font-size: em(19);
        color: #9B9B9B;
        display:block;
      }

      .deployment-location {
        padding-bottom: 80px;
        background-position:center center;
        background-size: contain;
        background-repeat:no-repeat;
        margin-top: 46px;
        margin-bottom: 59px;

        &.deployment-location-BNE {
          background-image: url("../images/icon-localhostBne.svg");
          // background-size: 100% 80px;
          background-position: bottom;
          background-size: 100% 86px;
          background-position: bottom;
          padding-bottom: 86px;
          margin-top: 40px;
        }

        &.deployment-location-PER {
          background-image: url("../images/icon-localhostPer.svg");
          // background-size: 100% 80px;
          background-position: bottom;
          background-size: 100% 95px;
          background-position: bottom;
          padding-bottom: 95px;
          margin-bottom: 44px;
        }

        &.deployment-location-MEL {
          background-image: url("../images/icon-localhostMel.svg");
          background-size: 100% 80px;
          background-position: bottom;
        }

        &.deployment-location-SYD {
          background-image: url("../images/icon-localhostSyd.svg");
          background-size: 100% 62px;
          background-position: bottom;
        }
      }

      .btn {
        display: inline-block;
      }
    }



    img {
      width: 100%;
    }

  }

  .dear-community {
    max-width: 1282px;
    margin: 0 auto;
    position:relative;
    padding-top: 0;
    padding-bottom: 10px;

    @media (min-width: $screen-sm-min) {
      margin-bottom:60px;
      padding:0;
      padding-top:30px;
      padding-bottom: 25px;
    }

    @media (min-width: $screen-md-min) {
      flex-direction: row-reverse;
      display:flex;
      padding-top: 86px;
      margin-bottom:120px;
    }

    &:after {
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      background: #F7F7F7;
      content:"";
      display:block;
      z-index:-1;

      @media (min-width: $screen-sm-min) {
        left: 30px;
        right: 30px;
      }

      @media (min-width: $screen-md-min) {
        left: 3.6%;
        right: 3.4%;
      }
    }

    h2 {
      text-transform:none;
      font-size:em(22);
      line-height: em(44,22);
      letter-spacing: 0.2em;
      word-spacing: -0.2em;
      margin-left:0;

      @media (min-width: $screen-sm-min) {
        margin-left:-55px;
      }

      @media (min-width: $screen-md-min) {
        margin-bottom: 28px;
        margin-left:-65px;
      }

      @media (min-width: 1360px) {
        margin-left: -23%;
        margin-bottom: 28px;
      }
    }

    p {
      font-size:em(20);
      line-height:em(34,20);
      word-spacing: 0.1em;
      margin-bottom:em(34,20);
    }

    .content,
    .image {
      @media (min-width: $screen-md-min) {
        width: 50%;
      }
    }

    .content {
      padding-left: 30px;
      padding-right: 30px;

      @media (min-width: $screen-sm-min) {
        padding-left: 65px;
        padding-right: 65px;
      }

      @media (min-width: $screen-md-min) {
        padding-left: 8.2%;
        padding-right: 65px;
      }
    }

    .image {
      > img {
        margin-bottom: 11px;

        @media (min-width: $screen-sm-min) {
          width:100%;
        }

        @media (min-width: $screen-md-min) {
          width:auto;
          margin-top: 11px;
          margin-bottom: 0;
        }
      }
    }
  }

  h3 {
    line-height: em(44, 41);
    font-size: em(22);
    letter-spacing: 0.13em;
    word-spacing: -0.08em;
    padding-bottom:em(21,41);
    position:relative;
    margin-bottom: em(64,41);
    margin-top:30px;

    @media (min-width: $screen-sm-min) {
      font-size: em(41);
    }

    @media (min-width: $screen-md-min) {
      margin: 0 auto 88px;
      max-width: 1195px;
    }

    &:after {
      content:"";
      display:block;
      background: $lavendar;
      height: 4px;
      width: 100%;
      max-width: 116px;
      position:absolute;
      bottom:0;
      left:0;
    }
  }

  .deployment-line-up {
    @media (min-width: $screen-md-min) {
    }

    img {
      display:block;
    }

    .deployment-speaker {

      .speaker-details {
        box-shadow: 0 0 20px rgba(#000, 0.125);
        padding: 22px 36px 25px;
        margin-bottom:20px;
        font-weight:$font-weight-bold;
        text-transform:uppercase;
        font-size:em(12);

        .speaker-name {
          margin-bottom: 4px;
          font-size:em(14,12);
        }


        p {
          &:last-child {
            margin-bottom:0;
          }
        }
      }

      .talk-details {
        @media (min-width: $screen-sm-min) {
          padding: 32px 10px 20px;
        }

        h4 {
          font-size:em(22);
          line-height: 1em;
          letter-spacing: 0.2em;
          margin-bottom: em(25,22);
        }

      }
    }
  }

  #deployment-city-details {

    h2 {
      margin:0;

      &.deployment-city-details-title {
        margin-top: 0.35em;
        letter-spacing: 0.14em;
        position:relative;
        padding-bottom: 14px;
        display:block;

        &:after {
          content: "";
          display: block;
          height: 4px;
          width: 100%;
          max-width: 116px;
          position: absolute;
          bottom: 0;
          left: 0;
        }

      }

      &:focus {
        outline: 0;
        text-decoration: underline;
      }
    }

  	h3 {
	    font-size: em(24);
  		padding-bottom: em(16, 24);

      @media (min-width: $screen-sm-min) {
    		margin-bottom: em(73, 24);
      }

  		&:after {
  			max-width: 40px;
  		}
  	}

    .deployment-city-details-hashtag {
      padding: em(19, 24) 0 em(33, 24);
      font-weight: bold;
      font-size: em(24);
      letter-spacing: 0.12em;
      background-image: url('../images/deployment-shapes-burst.svg');
      background-repeat: no-repeat;
      background-size: auto 100%;
      display:inline-block;
      background-position: center center;

      @media (min-width: $screen-md-min) {
        margin-top: em(52, 24);
      }
    }

    .deployment-city-details-venue {
      line-height: em(35,18);
      font-size: em(18);
      letter-spacing: 0.14em;
      margin-bottom: em(8,18);
    }

    h4 {
      font-size: em(24);
      margin-bottom: em(26, 24);
      letter-spacing: 0.1em;
    }

    address {
      padding-left:36px;
      position:relative;
      font-style: normal;
      letter-spacing: 0.09em;

      &:before {
        content: "📍";
        position:absolute;
        font-size: 44px;
        width:36px;
        left: -15px;
        top: 0;
        bottom:0;

      }
    }
  }

  .tabsList {
    display:flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding:0;
    padding-top:10px;

    li {
      position: relative; /*for z-index*/
      width:25%;
      max-width: 275px;
      margin: 0 5px;
      z-index: 1;

      .hidden-sm {
        display:none;

        @media (min-width: $screen-sm-min) {
          display:inline;
        }
      }

      .visible-sm {
        display:inline;

        @media (min-width: $screen-sm-min) {
          display:none;
        }
      }

      &:before {
        content:none;
      }

      @media (min-width:$screen-sm-min) {
        margin: 0 16px;
      }

      a {
        position: relative;
        top: 1px;
        width:100%;
        text-align:center;
        display:block;
        color:#000;
        font-weight:$font-weight-bold;
        text-decoration: none;
        border-style: solid;
        border-color: #000;
        padding:10px 10px 13px;
        border-width: 1px 1px 0;
        cursor: pointer;
        text-transform:uppercase;
        font-size: em(20);
        letter-spacing: 0.05em;

        &:before {
          content:"";
          display:block;
          position:absolute;
          top: -7px;
          left: -8px;
          width:100%;
          height:100%;
          z-index:-1;
          transition:0.2s ease-in-out all;
        }

        &[href="#deployment-city-details-per"] {
          &:hover,
          &:focus {
            &:before {
              background: $pastel-green;
            }
          }
        }

        &[href="#deployment-city-details-syd"] {
          &:hover,
          &:focus {
            &:before {
              background: $malibu;
            }
          }
        }

        &[href="#deployment-city-details-mel"] {
          &:hover,
          &:focus {
            &:before {
              background: $burnt-sienna;
            }
          }
        }

        &[href="#deployment-city-details-bne"] {
          &:hover,
          &:focus {
            &:before {
              background: $tulip-tree;
            }
          }
        }

        &:link {
          border-color: #000;
        }

        &:hover,
        &:focus,
        &:active {
          border-color: #000;
        }

        &:focus {
          outline: 1px dotted #444;
        }

        &:active {
          top: 0;
        }
      }



      &.current {
        z-index: 10;

        &:after {
          content:"";
          display:block;
          position:absolute;
          top: 100%;
          height:1px;
          left: 1px;
          right: 1px;
          background: #fff;
          z-index:5;
        }

        a {

          &:before {
            background: #ccc;
          }

          &:hover,
          &:focus {
            color: #000;
          }

          &[href="#deployment-city-details-per"] {
            &:before {
              background: $pastel-green;
            }

            &:hover,
            &:focus {
              &:before {
                background: lighten($pastel-green, 5%);
              }
            }
          }

          &[href="#deployment-city-details-syd"] {
            &:before {
              background: $malibu;
            }

            &:hover,
            &:focus {
              &:before {
                background: lighten($malibu, 5%);
              }
            }
          }

          &[href="#deployment-city-details-mel"] {
            &:before {
              background: $burnt-sienna;
            }

            &:hover,
            &:focus {
              &:before {
                background: lighten($burnt-sienna, 5%);
              }
            }
          }

          &[href="#deployment-city-details-bne"] {
            &:before {
              background: $tulip-tree;
            }

            &:hover,
            &:focus {
              &:before {
                background: lighten($tulip-tree, 5%);
              }
            }
          }
        }
      }
    }
  }

  .tabPanel {
    position: relative;  /*for z-index*/
    display: block;
    visibility: visible;
    clear: left;
    overflow: auto;
    border-top: 1px solid #000;
    z-index: 5;
    color: #333;

    .deployment-city-details-content {
      max-width:calc(1183px + 60px);
      margin: 0 auto;
      padding: 10% 30px 30px;

      @media (min-width: $screen-sm-min){
        padding-top: 118px;
      }

      &.deployment-city-per {
        h2,
        h3 {
          &:after {
            background: $pastel-green;
          }
        }

        ::-moz-selection { background: $pastel-green; }
        ::selection { background: $pastel-green; }
      }

      &.deployment-city-mel {
        h2,
        h3 {
          &:after {
            background: $burnt-sienna;
          }
        }

        ::-moz-selection { background: $burnt-sienna; }
        ::selection { background: $burnt-sienna; }

      }

      &.deployment-city-syd {

        h2,
        h3 {
          &:after {
            background: $malibu;
          }
        }

        ::-moz-selection { background: $malibu; }
        ::selection { background: $malibu; }
      }

      &.deployment-city-bne {

        h2,
        h3 {
          &:after {
            background: $tulip-tree;
          }
        }

        ::-moz-selection { background: $tulip-tree; }
        ::selection { background: $tulip-tree; }
      }
    }

    &:focus {
      outline: 1px dotted #999;
    }

    h2 {
      display: inline-block;

      &:focus {
        outline: 1px dotted #999;
      }
    }
  }
}

.projects_deployment_info {
  header {
    margin-top: 18%;
    margin-bottom: 5%;
    height:auto;

    @media (min-width: $screen-lg-min) {
      margin-top: 263px;
      margin-bottom: 60px;
    }

    .deployment-logo {
      max-width: 594px;
    }
  }

  &.internal .main {
    max-width: 100%;
  }

  .deployment-event-details {
    justify-content: space-between;
	   margin-bottom: 15%;
     flex-wrap: wrap;

    > .flex-col {

      &:last-child {
        @media (min-width: $screen-sm-min) {
          align-self: flex-end;
          width:50%;
        }

        @media (min-width: $screen-md-min) {
          width: 23%;
        }
      }

      @media (min-width: $screen-sm-min) {
        // width: 33.33%;
      }
    }

    .deets-col {
      width:100%;

      @media (min-width: $screen-md-min) {
        width:auto;
      }
    }
  }

  .venue-row {
    margin-bottom:10%;
    justify-content: space-between;
    display: block;
    @media (min-width: $screen-md-min) {
      display: flex;
    }

    > .flex-col {

      &.venue-images {
        display: flex;
        flex-wrap: wrap;
        margin-right: 38px;


        @media (min-width: $screen-md-min) {
            width: 51.5%;
        }

        .venue-image {
          margin-bottom:15px;
          flex: 1;

          //@media (min-width: $screen-sm-min) {
            width:50%;
            padding-right: 30px;
            padding-bottom: 30px;
            margin-bottom:0;
          //}

          &:last-child {
            padding-right:0;
          }

          > img {
            min-height: 100%;/* again , tallest should set the rythm */
            min-width: 100%; /* unless one doesn't fit the width */
            display: block;

            @media (min-width: $screen-sm-min) {
              // width: 50%;
              // max-height: 200px;
              // width: auto;
            }
          }
        }
      }

      &.venue-tips-col {
        @media (min-width: $screen-md-min) {
          width: 45%;
        }
      }

      ul {
        font-size: em(20);
        letter-spacing: 0.1em;
        padding-top:em(10, 20);
        padding-left: 0;

        li {
          margin-bottom: em(18, 20);
          padding-left: em(50,20);

          &:before {
            content: "✅";
            background:none;
            font-size:em(26,20);
            left:0;
          }

          &:last-child {
            &:before {
              content: "💁";
            }
          }
        }
      }
    }
  }

  #deployment-city-details .food-sponsors-row {
    justify-content: space-between;
    display:block;

    @media (min-width: $screen-md-min) {
      display:flex;
    }

    h3 {
      line-height:em(33, 24);
      padding-bottom: em(13,24);

      @media (min-width: $screen-sm-min) {
        margin-bottom:1em;
      }
    }

    p {
      font-size:em(20);
      line-height:em(34,20);
      margin-bottom:em(34,20);
      letter-spacing: 0.085em;
    }

    .sponsor-images {
      display:flex;
      align-items: center;
      // padding-top: 30px;
      flex-wrap:wrap;
      // justify-content: space-around;

      .sponsor-image {
        padding: 0 15px 30px;
        max-width: 33.33%;
        align-self: center;
        &:first-child {
          padding-left:0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }

    .flex-col {
      padding: 0;

      @media (min-width: $screen-md-min) {
        padding: 0 15px;

        &:first-child {
          padding-left:0;
        }

        &:last-child {
          padding-right: 0;
        }
      }

      &.food-col {
        @media (min-width: $screen-sm-min) {
          margin-bottom:10%;
        }

        @media (min-width: $screen-md-min) {
          max-width: 420px;
          margin-bottom:0;
        }
      }

      &.sponsor-col {
        @media (min-width: $screen-sm-min) {
          width: 45%;
        }
      }
    }
  }

  .deployment-event-notes {
    max-width:calc(1183px + 60px);
    margin: 0 auto;
    padding: 10% 30px 30px;
    margin-bottom: 10%;

    @media (min-width: $screen-md-min) {
      padding-top: 118px;
    }

  	h3 {
	    font-size: em(24);
  		padding-bottom: em(16, 24);
  		margin-bottom: em(60, 24);

  		&:after {
  			max-width: 40px;
  		}
  	}

    p {
      font-style:italic;
      font-size:em(20);

      .emoji {
        font-style: normal;
      }
    }
  }
}

.embed-container {

  .map-embed & {
    padding-bottom: 66%;
    overflow: visible;
    margin-bottom: 5px;

    iframe {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    &:before {
      display:block;
      position:absolute;
      left: -25px;
      top: 25px;
      width:100%;
      height:100%;
      // background:#fff;
      box-shadow: 0 0 10px #eee;
      content:"";
      border-radius:2px;
      z-index:-1;
    }
  }
}

.map-embed {
  width:100%;
  margin-bottom:60px;

  @media (min-width: $screen-sm-min) {
    max-width:50%;
    margin-bottom:0;
  }

  @media (min-width: $screen-md-min) {
    max-width: 508px;
    margin-right: 24px;
  }
}

.flex-row {
  @media (min-width: $screen-sm-min) {
    display:flex;
  }

  > .flex-col {
    @media (min-width: $screen-sm-min) {
      padding: 0 15px;
    }

    &:first-child {
      @media (min-width: $screen-md-min) {
        padding-left: 0;
      }
    }

    &:last-child {
      @media (min-width: $screen-md-min) {
        padding-right: 0;
      }
    }
  }
}

.deployment-schedule {
  padding: 0 30px;
  max-width: 1240px;
  margin: 0 auto 10%;

  h2 {
    letter-spacing: 0.13em;
    position: relative;
    padding-bottom:em(15, 40);
    margin-bottom: 6%;

    &:after {
      content: "";
      display: block;
      height: 4px;
      width: 100%;
      max-width: 116px;
      position: absolute;
      bottom: 0;
      background: $lavendar;
      left: 0;
    }
  }

  ul {
    padding: 0;
    max-width: 970px;
    margin: 0 auto;

    li {
      display: flex;
      margin-bottom:9px;

      a {
        border:0;
        color:#000;

        &:hover,
        &:focus {
          color: $lavendar;
        }
      }

      &:before {
        background: none;
        content: none;
      }

      &.talk {
        span.slot-activity {
          padding-left:10%;
        }
      }

      span {
        padding: 11px 0 6px;

        &.slot-time {
          width: 21%;
          text-align: center;
          font-weight: bold;
          letter-spacing: 0.17em;
          margin-right:5%;
        }

        &.slot-activity {
          flex-grow: 1;
          width: 80%;
          border-bottom: 1px solid #ccc;
          padding-left: 3px;
          padding-right: 3px;
          letter-spacing: 0.07em;
        }

        &.slot-duration {
          width: 68px;
          border-bottom: 1px solid #ccc;
        }
      }
    }
  }
}
