.btn {
  border: 1px solid #000 !important;
  padding: 13px 28px 14px;
  text-transform:uppercase;
  font-weight:$font-weight-bold;
  font-size: em(14);
  color: #272727;
  letter-spacing: 4px;
  line-height: em(14, 14);
  display:block;
  text-align:center;

  &:hover, &:focus {
    background:$pastel-green;
    border-color:$pastel-green;
    color:#fff;
  }
}

.main {
  img {
    max-width:100%;
    height:auto;
  }
}
.paragraph-image {
  width:100%;
  max-width:670px;
  margin: 0 auto 5%;

  &.full {
    max-width:1120px;
  }
}
