footer {

  padding: 30px 0;

  @media (min-width: $screen-sm-min) {
    padding:0;
  }

  a {
    color:#000;
    border:0;
  }

  .footer-container {
    display:flex;
    font-weight:bold;
    flex-direction:column;

    @media (min-width: $screen-sm-min) {
      flex-direction:row;
    }

    &.details {
      justify-content: space-between;
      border-top:1px solid #1D1D1B;
      padding: 30px 30px 0;

      @media (min-width: $screen-sm-min) {
        padding:0;
      }
    }

    &.locations {
      justify-content: center;
      align-items: baseline;
      background: url('../images/icon-locations.svg');
      background-repeat:no-repeat;
      background-position:center bottom;
      background-size: auto 100%;
      height: 50px;
      margin-bottom: -8px;
      z-index: 2;
      position: relative;

      @media (min-width: $screen-sm-min) {
        margin-right: 18px;
        height:61px;
        margin-bottom: -10px;

      }
    }
  }

  .footer-logos {
    flex-grow:1;
    padding: 4.5% 12px 1%;

    @media (min-width: $screen-sm-min) {
      //max-width: 900px;
      border-left:1px solid #1D1D1B;
      border-right:1px solid #1D1D1B;
    }

    ul {
      display:flex;
      flex-wrap:wrap;
      margin:0;
      padding:0;
      list-style:none;

      li {
        padding: 0 12px 24px;
        width:100%;

        @media (min-width: $screen-sm-min) {
          width: 33%;
        }

        @media (min-width: $screen-md-min) {
          width:16.66666666666667%;
        }

        img {
          width:50%;
          height:auto;
          //opacity:0.5;
          @include transition($link-transition);

          @media (min-width: $screen-sm-min) {
            width:100%;
          }

          @media (min-width: $screen-md-min) {
            width:100%;
          }

          &:hover {
            //opacity:0.8;
          }
        }
      }
    }
  }

  .footer-left {
    font-size:1.25em; //20px;
    text-transform:uppercase;
    line-height:1em;
    padding:0;
    letter-spacing: 0.185em;
    text-align:center;

    p {
      margin-bottom:0;
    }

    @media (min-width: $screen-sm-min) {
      width: 33%;
      text-align:right;
      padding: 3.8% 24px;
    }

    @media (min-width: $screen-md-min) {
      width: 19%;
    }
  }

  .footer-links {
    font-size:0.875em; //14px;
    padding: 1.5% 23px 1%;
    text-align:center;

    @media (min-width: $screen-sm-min) {
      width: 33%;
      text-align:left;
    }

    @media (min-width: $screen-md-min) {
      width: 18%;
    }

    ul {
      list-style:none;
      padding:0;
      margin:0;

      li {
        line-height:1em;
        margin-bottom:1em;
      }
    }
  }
}
