header {
  padding: 5% 30px 12%;
  display:flex;
  justify-content: space-between;
  flex-direction:column;
  flex-direction:row;
  flex-wrap: wrap;
  max-width: 1318px;
  margin: 0 auto;

  @media (min-width: $screen-sm-min) {
    flex-direction:row;
  }

  &.header-home {
    display:block;

    > .logo {
      margin: 0 auto;
    }
  }

  a {
    border:0;
  }

  > .logo {
  	width:100%;

    @media (min-width: $screen-sm-min) {
      max-width: 348px;
    }

    svg {
      width:100%;
      height:auto;
    	padding:20px 22px;
			overflow:visible;
    }
  }

  .home & {
    position:relative;
    margin-top: 19.7%;
    margin-bottom: 18%;
    padding:0;
    //padding: 30px 0;
    //padding-top: 19.7%;
    //padding-bottom: 18%;
    height: 110px;
    max-width:100%;

    > .logo {
      position:absolute;
      top: 0;
      left: 50%;
      max-width: 718px;
      @include transform(translateX(-50%));
    }
  }

  .follow {
    width:100%;

    @media (min-width: $screen-sm-min) {
      width:auto;
    }
  }

  .social {
    padding: 15px 0;

    li {
      margin:0;

      @media (min-width: $screen-md-min) {
        margin: 0 0 0 55px;
      }

      a {
        color: #000;
        font-size: 1.125em;
        display: flex;
        align-items: center;

        &:hover, &:focus {
          color: $burnt-sienna;
        }

        .label {
          @media (max-width: $screen-md-min - 1) {
            @include sr-only;
          }
        }

        .sm-icon {
          padding-left:10px;
          height:30px;
        }
      }

      &:first-child {
        @media (min-width: $screen-sm-min) {
          margin-left:0;
        }
      }
    }
  }
}

// Logo Animation

.logo {

  a {
    display:block;
  }

	.line {
		fill: none;
		stroke: #1D1D1B;
		stroke-miterlimit: 10;
		stroke-linecap: round;
		stroke-linejoin: round;
	}

  &:hover {
    .block {

    }
  }

	.block {
    // @include transition(0.2s ease-in-out all);
    visibility: hidden;

		&.green {
			fill: $pastel-green;
		}

		&.yellow {
			fill: $turbo;
		}

		&.purple {
			fill: $lavendar;
		}

		&.orange {
			fill: $tulip-tree;
		}

		&.blue {
			fill: $malibu;
		}
	}

  .lines g {
  	@for $i from 1 to 10 {
  		&:nth-child(#{$i}) {
  			.line {
  				@include animation-delay($i * 0.25s);
  			}
  		}
  	}
  }

  .line {
  	stroke-dasharray: 100;
  	stroke-dashoffset: 100;
  }
}

<<<<<<< HEAD
.logo .line {
	@include animation(dash 1s linear forwards);
}
=======
 .logo .block {
  visibility:hidden;
}


.js {
  .logo .line {
  	@include animation(dash 10s linear forwards);
  }
}

// ------
>>>>>>> 8ce17d0357a8a9bd99101b6d69535ea3a2f32879
