header {
  padding: 5% 30px;
  display:flex;
  justify-content: space-between;
  flex-direction:column;
  flex-direction:row;
  flex-wrap: wrap;
  max-width: 1318px;
  margin: 0 auto;

  @media (min-width: $screen-sm-min) {
    flex-direction:row;
		flex-wrap:nowrap;
  }

  &.header-home {
    display:block;

    > .logo, > .deployment-logo {
      margin: 0 auto;
    }
  }

  a {
    border:0;
  }

  > .logo, > .deployment-logo {
  	width:100%;

    @media (min-width: $screen-sm-min) {
      max-width: 348px;
    }

    svg {
      width:100%;
      height:auto;
    	padding:20px 22px;
			overflow:visible;
    }
  }
  > .deployment-logo {
    @media (min-width: $screen-sm-min) {
      max-width:  560px;
    }
  }


  .home &, .projects_deployment & {
    position:relative;
    padding:0;
    height: 110px;
    max-width:100%;
    margin-top: 50px;
    margin-bottom: 50px;

    @media (min-width: $screen-sm-min) {
      margin-top: 180px;
      margin-bottom: 230px;
    }

    > .logo {
      position:absolute;
      top: 0;
      left: 50%;
      max-width: 682px;
      @include transform(translateX(-50%));
    }
  }

  .follow {
    width:100%;

    @media (min-width: $screen-sm-min) {
      width:auto;
    }
  }

  .social {
    padding: 15px 0;

    li {
      margin:0;

      @media (min-width: $screen-md-min) {
        margin: 0 0 0 55px;
      }

      a {
        color: #000;
        font-size: 1.125em;
        display: flex;
        align-items: center;

        &:hover, &:focus {
          color: $burnt-sienna;
        }

        .label {
          @media (max-width: $screen-md-min - 1) {
            @include sr-only;
          }
        }

        .sm-icon {
          padding-left:10px;
          height:30px;
        }
      }

      &:first-child {
        @media (min-width: $screen-sm-min) {
          margin-left:0;
        }
      }
    }
  }
}

// Logo Animation

.logo {

  a {
    display:block;
  }

	.line {
		fill: none;
		stroke: #1D1D1B;
		stroke-miterlimit: 10;
		stroke-linecap: round;
		stroke-linejoin: round;
	}

  &:hover {
    .block {

    }
  }

	.block {
    visibility: hidden;

		&.green {
			fill: $pastel-green;
		}

		&.yellow {
			fill: $turbo;
		}

		&.purple {
			fill: $lavendar;
		}

		&.orange {
			fill: $tulip-tree;
		}

		&.blue {
			fill: $malibu;
		}
	}

  .lines g {
  	@for $i from 1 to 10 {
  		&:nth-child(#{$i}) {
  			.line {
  				@include animation-delay($i * 0.25s);
  			}
  		}
  	}
  }

  .line {
  	stroke-dasharray: 100;
  	stroke-dashoffset: 100;
  }
}



 .logo .block {
  visibility:hidden;
}



.logo .line {
	@include animation(dash 1s linear forwards);
}

.primary-nav {
	padding:20px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  @media (min-width: $screen-sm-min) {
	  padding:34px 30px;
	}

  ul {
    display: flex;
    justify-content: space-between;
    margin:0;
    padding:0;

    @media (min-width: $screen-sm-min) {
      justify-content: flex-start;
    }

    li {
      list-style:none;
      margin:0;

      a {
        margin: 10px 10px;
        border:0;
        display:block;


        font-weight:$font-weight-bold;
        font-size: em(14);
        color: #272727;
        text-transform: uppercase;
        letter-spacing: 3.7px;
        line-height: 1em;

        @media (min-width: $screen-sm-min) {
          margin: 10px 32px;
        }
        &[aria-current]:not([aria-current="false"])  {
          border-bottom: 4px solid $burnt-sienna;
          display: inline-block;
          padding-bottom: 13px;
        }
        &:hover, &:focus {
          color: $burnt-sienna;
        }
      }

      &.home {
        a {
          margin: 10px 10px 10px 0px;

          @media (min-width: $screen-sm-min) {
            margin: 10px 20px 10px 0px;
          }
          span {
            @include sr-only;
          }
          &:before {
            content:"";
            background:url('../images/icon-home.svg');
            height: 16px;
            width: 21px;
            display:block;
          }
        }
      }
    }
  }

  .deployment-shapes {
    content:"";
    z-index:3;
    background: url('../images/deployment_shapes.svg');
    background-repeat: no-repeat;
    background-position: bottom center;

    a {

      &[aria-current]:not([aria-current="false"])  {
        border-bottom: none;
      }

    }

    a:hover {
        background: url('../images/deployment_shapes.svg');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 80%;
        color: black;
    }
  }

  .hide {
    display: inline;

    @media (max-width: $screen-xs-min) {
    display: none;
    }
  }

  .navbar-toggle {
    background:transparent;
    border:0;
    cursor:pointer;
    padding: 10px;

    &.active {
      .icon-bar {

        + .icon-bar {
          margin-top:0;
        }

        &:nth-child(1) {
          @include transform(translateY(2px) rotate(45deg));
        }

        &:nth-child(2) {
          width:0;
        }

        &:nth-child(3) {
          @include transform(translateY(-2px) rotate(-45deg));
        }
      }
    }

    &:focus {
      outline:none;
    }

		&:hover {
			.icon-bar {
				background: $burnt-sienna;
			}
		}

    .icon-bar {
      width: 25px;
      height:2px;
      background: #000;
      transform-origin: 50% 50%;
      display:block;
      @include transition($link-transition);

      + .icon-bar {
        margin-top:8px;
      }
    }
  }
}

.modaal-fullscreen .modaal-close {
  background:transparent;

  &:before, &:after {
    background:#000;
    border-radius:0;
  }
}

.modaal-inline {
  .modaal-container {
    .modaal-content {
      width: 100%;
      max-width: 800px;
      margin:0 auto;
      height:100%;

      .modaal-content-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;


      }
    }
  }
}

.social-links {
  display:flex;
  padding:0;
  justify-content: space-around;
  margin:0;

  li {
    list-style:none;

    a {
      font-weight:$font-weight-bold;
      font-size: em(18);
      color: #000000;
      letter-spacing: em(4,18);
      line-height: em(21, 18);
      text-transform:uppercase;
      border:0;
      display: flex;
      align-items: center;
      overflow:hidden;

      &:hover, &:focus {

        span {
          @include transform(translateY(-100%));
        }
      }

      span {
        display:none;
        position:relative;
        @include transition($link-transition);

        @media (min-width: $screen-sm-min) {
          display:block;
        }

        &:after {
          content: attr(data-hover);
          position: absolute;
          top: 100%;
          left:0;
          right:0;
          color: $burnt-sienna;
          @include transform(translate3d(0,0,0));

        }
      }

      &:before {

        width:30px;
        height:27px;
        display:inline-block;
        content:"";
        background-size:contain;
        background-position:center center;
        background-repeat: no-repeat;
        margin-right:12px;
      }

      &.social-meetup {
        &:before {
          background-image:url('../images/social-meetup.svg');
        }
      }

      &.social-twitter {
        &:before {
          background-image:url('../images/social-twitter.svg');
        }
      }

      &.social-youtube {
        &:before {
          background-image:url('../images/social-youtube.svg');
        }
      }
    }
  }
}
