---
title: We caught up with first time attendee, Peter Hill
date: 2017-02-02
author: Monique
category: Interview
image: /blog/2017/02/02/interviews-february-peter/interviews-peter-hill.jpg
imageAlt: Peter Hill
leadParagraph: This was Peter’s first ever Localhost and Industry event at that. Having graduated from High School last year, Peter is about to start studying Engineering at Curtin University.
tags: localhost interviews, february event, localhost february
---


<div class="">

  <h2>Peter Hill</h2>

  <p>Localhost First-timer</p>

  <p>Being so young and already mingling with and learning from people in the industry is extremely dedicated, I asked him why he was here; “…to find some work and advice from people in the Web Development Industry”, he answered emphasising his passion to get stuck in right away.</p>

  <p>Peter sums himself up in four words as being “Enthusiastic, loving travel, positive and focused on technology.</p>

  <p>Obviously a new face in the Localhost scene, I wondered how he had heard about us; his father had been active in Port80 years ago and recommended AWIA events as being a great place to find out more about the Web Development scene.</p>

  <p>Before the interview was over I asked him what he thought about the night so far, he highlighted the closeness of the industry, mentioning “It’s cool how so many people have come together, it really feels like a community”.</p>
</div>
