---
title: We had a chat with long time meetup attendee and past speaker, Tim Oliver
date: 2017-02-02
author: Monique
category: Interview
image: /blog/2017-02-25-localhost-interviews-february/tim-oliver-at-localhost.jpg
leadParagraph: Tim Oliver is a regular at Port80 (now Localhost), and has been with us for years. He’s a self-proclaimed Web Dev turned App Dev and works as a product engineer @Realm.
tags: localhost interviews, february event, localhost february
---


<div class="">

  <h2>Tim Oliver</h2>

  <p>Product Engineer @Realm</p>

  <p>When asked to describe himself in four words, he told me he was a "Jack of all trades, master of none", I told him that wasn’t four words.</p>

  <p>For Tim, the most exciting thing about Localhost was, as he described, “…the sheer professionalism”, noting that after past dry spells, this Meetup had waitlists every single time, with a capacity that keeps getting pushed.</p>

  <p>Tim continues, “…we can start entertaining people from out of Perth which means there’s progress and interest”. Furthermore, that the ‘seriousness and effort’ that has gone into Localhost has been remarkable – he summed this up as “Swag and stickers and dedication” - I don’t think he could have been more right.</p>

  <p>Look out for Tim Oliver at future Localhost events to have a chat, he’s not hard to spot, he looks like Steve Jobs.</p>
</div>
