---
title: Localhost Interviews - February
date: 2017-02-15
author: Monique
tags: localhost interviews, february event, localhost february
---

<h2>Tim Oliver</h2>

Product Engineer @Realm

Tim Oliver is a regular at Port80 (now Localhost), and has been with us for years. He’s a self-proclaimed Web Dev turned App Dev and works as a product engineer @Realm.

When asked to describe himself in 4 words, he told me he was a “Jack of all trades, master of none”, I told him that wasn’t 4 words.

For Tim, the most exciting thing about Localhost was, as he described, “…the sheer professionalism”, noting that after past dry spells, this Meetup had waitlists every single time, with a capacity that keeps getting pushed. Tim continues, “…we can start entertaining people from out of Perth which means there’s progress and interest”. Furthermore, that the ‘seriousness and effort’ that has gone into Localhost has been remarkable – he summed this up as “Swag and stickers and dedication” - I don’t think he could have been more right.

Look out for Tim Oliver at future Localhost events to have a chat, he’s not hard to spot, he looks like Steve Jobs.




<h2>Peter Hill</h2>

Localhost First-timer

This was Peter’s first ever Localhost and Industry event at that. Having graduated from High School last year, Peter is about to start studying Engineering at Curtin University.

Being so young and already mingling with and learning from people in the industry is extremely dedicated, I asked him why he was here; “…to find some work and advice from people in the Web Development Industry”, he answered emphasising his passion to get stuck in right away.

Peter sums himself up in four words as being “Enthusiastic, loving travel, positive and focused on technology.

Obviously a new face in the Localhost scene, I wondered how he had heard about us; his father had been active in Port80 years ago and recommended AWIA events as being a great place to find out more about the Web Development scene.

Before the interview was over I asked him what he thought about the night so far, he highlighted the closeness of the industry, mentioning “It’s cool how so many people have come together, it really feels like a community”.
