---
title: 404 - Not Found
---

<div class="welcome">
  <div class="logo">
    <%= image_tag("localhost-logo-black.svg", alt: "Localhost Logo", width: '500') %>
  </div>
  <h1>We could not find what you were looking for.</h1>
  <p>GO HOME →</p>
</div><!-- .welcome -->
