---
title: About | Localhost
body_classes: internal
meta_description: Connecting web, creative and digital communities &amp; unearthing local talent across Australia.
page_title: About
lead_paragraph: <span class="green">Connecting</span> web, creative &amp; digital <span class="purple">communities</span> and <span class="blue">unearthing</span> local talent across Australia.
has_team: true
---

<p>Localhost is a meetup designed to connect web, creative and digital communities, unearthing local talent across Australia. Prior to it’s inception, Localhost was formerly known as Port80, a community meetup that ran monthly in Perth for 15 years.</p>

<p>This new initiative aims to strengthen the Australian industry through a number of ways and steered by the following questions:</p>

<ol class="questions">
    <li>What potential can a generalist meetup like this achieve?</li>
    <li>What does the Australian industry actually need?</li>
    <li>What can help amplify individual and community growth?</li>
    <li>How can we encourage more diversity?</li>
    <li>What does it take to be world-class?</li>
</ol>
<p>Localhost has a unique concept behind it; we definitely didn’t want it to be just another meetup clogging up the calendar in our already busy lives! While the local meetups will continue to run on a regular basis, it’s Localhost:Deployment which offers something truly different.</p>

<p>Described by Patima as a multi-city, supercharged, touring, meetup roadshow, the deployment will see a speaker representing each city form a touring line-up that will travel together to each location, sharing their knowledge to new audiences, challenging individual comfort zones and gaining XP along the way.</p>

<p class="tagline">3 speakers. 3 locations. 3 days.</p>
<div class="image">
  <%= image_tag("/images/logos/localhost-deployment.svg", :alt => "Localhost Deployment Logo") %>
  <%= image_tag("/images/deployments-map.svg", :class => "deployments-map", :alt => "Localhost deployment map from Perth to Sydney to Melbourne") %>
</div>

<p>Talks will be recorded and published soon after the event/s to enable reflection and continued public consumption, along with further amplifying the visibility and opportunities for the speakers.</p>

<p>The slides from the launch event held in Perth, 19th January 2017 are available for viewing and comments via <a href="https://slides.com" title="View Talk Slides at Slides.com">slides.com</a>.</p>

<p>* Stage one will include Perth, Sydney and Melbourne as the deployment locations, with the goal to expand out to more... "branches" in future.</p>
