---
title: About | Localhost
body_classes: internal
meta_description: Connecting web, creative and digital communities &amp; unearthing local talent across Australia.
page_title: About Localhost
lead_paragraph: <span class="green">Connecting</span> web, creative &amp; digital <span class="purple">communities</span> and <span class="blue">unearthing</span> local talent across Australia.
layout: layout
---

Localhost is a meetup designed to connect web, creative and digital communities, unearthing local talent across Australia. Localhost was born out of Port80 Perth, a community meetup that ran monthly in Perth for 15 years, and is powered by our passionate team of volunteers.

Launched in 2017, this initiative aims to strengthen the Australian industry through a number of ways and is steered by the desire to solve the following questions:

  * What potential can a generalist meetup like this achieve?
  * What does the Australian industry actually need?
  * What can help amplify individual and community growth?
  * How can we encourage more diversity?
  * What does it take to be world-class?

Localhost has a unique concept behind it; we definitely didn’t want it to be just another meetup clogging up the calendar in our already busy lives! While the local Perth meetups will continue to run on a regular basis, it’s Localhost:Deployment which offers something truly different.

**Localhost Roadshow

Described by our founder, Patima, as a “multi-city, supercharged, touring, meetup roadshow”, the deployment will see a speaker representing each city form a touring line-up that will travel together to each location, sharing their knowledge to new audiences, challenging individual comfort zones and gaining XP along the way.

Our first roadshow (“deployment”) will be held in June 2017.

<p class="tagline">4 speakers. 4 locations. 4 days.</p>
<div class="image">
  <%= image_tag("/images/logos/localhost-deployment.svg", :alt => "Localhost Deployment Logo") %>
  <%= image_tag("/images/deployments-map.svg", :class => "deployments-map", :alt => "Localhost deployment map from Perth to Sydney to Melbourne") %>
</div>

##OUR VISION

  * To create more opportunities for Australian designers and developers
  * To turn up the volume on the Australian industry's voice
  * To Bridge distance and enable more knowledge sharing &amp; collaboration.

##OUR GOALS

  * Delivering a supercharged meetup in multiple destinations across the country
  * Providing local speakers opportunities and exposure beyond their local communities
  * Strengthening the industry by removing barriers to sharing knowledge
  * Providing local communities with access to more knowledge and diversity
  * Improving the quality of the Australian web industry through interstate collaboration

##The team

Meet the team and contributors working tirelessly behind the scenes to bring you Localhost. We’re a group of regular folk who simply adore the web and love bringing people together.

Patima Tantiprasut
@the_patima

Teegan Lincoln
@teeganlincoln

Corey Ginnivan
@coreyginnivan

David Thomas
@thedavidthomas1
