---
title: Events | Localhost
body_classes: internal
meta_description: Connecting web, creative and digital communities &amp; unearthing local talent across Australia.
noMiniColumn: true
---
<!-- <div class="future-events">
  <ul>
  </ul>
</div> -->

<h1><span class="title-left">Aussie <br />Events</span>
	<span class="title-right">Localhost Calendar</span></h1>

<section class="events-calendar">
	<div class="event-column">
		<div class="event-date location-per">
			<p>Thurs 19 Feb</p>
		</div>

		<article class="event localhost-event per-events">
			<header class="image">
				<img src="../images/events/GeorgieLuhur.png" />
			</header>
			<div class="caption">
				<h2 class="speaker-name">Georgie Luhur</h2>
				<p class="speaker-role">Front End Dev @ Campaign Monitor</p>
				<p class="event-title">Creative ways of styling figures and fig captions</p>
			</div>
			<footer class="details">
				<div><a class="btn btn-rsvp" href="#">RSVP</a></div>
				<p class="price">Free event</p>
			</footer>
		</article>
	</div>

	<div class="event-column">
		<div class="event-date location-per">
			<p>More Upcoming</p>
		</div>

		<article class="event per-events">
			<div class="caption">
				<h2 class="event-name">WEB AND WELLNESS</h2>
				<p class="event-day">Every Wednesday.</p>
			</div>
			<footer class="details">
				<div><a class="btn btn-rsvp" href="#">RSVP</a></div>
				<p class="price">Free event</p>
			</footer>
		</article>

		<div class="event-date">
			<p>Thurs 23 Feb</p>
		</div>
		<article class="event per-events">
			<div class="caption">
				<h2 class="event-name">Discussion Dinners</h2>
				<p class="event-desc">Occasional dinners for 10 people.</p>
			</div>
			<footer class="details">
				<div><a class="btn btn-rsvp" href="#">RSVP</a></div>
				<p class="price">$35</p>
			</footer>
		</article>
	</div>


	<div class="event-column">
		<div class="event-date location-per">
			<p>Thurs 03 Mar</p>
		</div>

		<article class="event localhost-event per-events">
			<header class="image">
				<img src="../images/events/KristyHaines.png" />
			</header>
			<div class="caption">
				<h2 class="speaker-name">Kristy Haines</h2>
				<p class="speaker-role">UI Designer @ Meerkats</p>
				<p class="event-title">Creative ways of styling figures and fig captions</p>
			</div>
			<footer class="details">
				<div><a class="btn btn-rsvp" href="#">RSVP</a></div>
				<p class="price">Free event</p>
			</footer>
		</article>
	</div>
</section>

<section class="calendar-future-events">
  <aside>
    <h2>Future <br/>
      Events</h2>

      <nav>
        <ul>
          <li><a href="#" class="month-january">January</a></li>
          <li><a href="#" class="month-february">February</a></li>
          <li class="active-month"><a href="#" class="month-march">March</a></li>
          <li><a href="#" class="month-april">April</a></li>
          <li><a href="#" class="month-may">May</a></li>
          <li><a href="#" class="month-june">June</a></li>
          <li><a href="#" class="month-july">July</a></li>
          <li><a href="#" class="month-august">August</a></li>
          <li><a href="#" class="month-september">September</a></li>
          <li><a href="#" class="month-october">October</a></li>
          <li><a href="#" class="month-november">November</a></li>
          <li><a href="#" class="month-december">December</a></li>
        </ul>
      </nav>
  </aside>

  <main>
    <div class="calendar-toggles">
      <label><input type="checkbox" checked /> <span>Perth</span></label>
      <label><input type="checkbox" checked /> <span>Sydney</span></label>
      <label><input type="checkbox" checked /> <span>Melbourne</span></label>
      <label><input type="checkbox" checked /> <span>Brisbane</span></label>
    </div>
  </main>
</section>
