---
title: Welcome to Middleman
---

%div.welcome
  %div.logo
    =image_tag "middleman-logo.svg"
    %h1 Localhost
    %h2 Subscribe Form
    =link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank"
